<ion-view hide-nav-bar="true">

    <ion-content class="birthday">

        <div class="sideMenuHome">
            <img src="img/new/home_icon.png" width="40" ui-sref="app.home">
            <div class="sideMenuHomeText">עמוד<br>הבית</div>
        </div>

    </ion-content>

</ion-view>
