<ion-view hide-nav-bar="true">
    <ion-content class="darkBackground rtl">

        <div class="sideMenuHome">
            <img src="img/new/home_icon.png" width="40" ui-sref="app.home">
            <div class="sideMenuHomeText">עמוד<br>הבית</div>
        </div>

        <div class="content">

            <div class="darkElements">

                <div class="div90 rtl pos-rel" align="center">

                    <img src="img/backgrounds/half_big.png" style="width: 100%;">

                    <div class="dailyQuestionsText" ng-if="firstNotAnswered === null">
                        <div>ענית על השאלות היום</div>
                        <div>נפגש שוב בעוד</div>

                        <div class="dailyQuestionsTime">{{timeToNext}} שעות</div>
                    </div>

                    <div class="dailyQuestionsOffer" ng-if="firstNotAnswered !== null">
                        <div>אם ברצונך להשלים</div>
                        <div>את השאלות שעדין לא ענית</div>
                        <div>עליהם במהלך החודש</div>

                        <img src="img/new/click.png" style="width: 30%; padding-top: 10px;" ng-click="goToDay(firstNotAnswered.date, firstNotAnswered.session)">
                    </div>


                    <img src="img/new/back5.png" style="width: 70%;" ui-sref="app.home">

                </div>

            </div>

        </div>

    </ion-content>
</ion-view>
