<ion-view hide-nav-bar="true">

    <ion-content class="enterTestBackground">

        <div class="sideMenuHome">
            <img src="img/new/home_icon.png" width="40" ui-sref="app.home">
            <div class="sideMenuHomeText">עמוד<br>הבית</div>
        </div>

        <div class="enterTestButton">
            <img src="img/new/test_now.png" style="width: 100%;" ng-click="getTestQuestions()">
        </div>

    </ion-content>
</ion-view>