<ion-view hide-nav-bar="true">
    <ion-content ng-class="{enterBackgroundIos: isIos, enterBackgroundAndroid: !isIos}">

        <div class="enterButton">
            <img src="img/new/register.png" style="width: 90%; height: 10vh;" ng-click="goToRegister()">
        </div>

    </ion-content>
</ion-view>
