<ion-view hide-nav-bar="true">
    <ion-content class="lightBackground">

        <div class="content">

            <div class="header">התחברות</div>

            <div class="lightElements">

                <div class="div90 rtl">

                    <div class="customInput">
                        <input type="text" placeholder="כתובת אימייל" ng-model="login.email">
                    </div>

                    <div class="customInput">
                        <input type="password" placeholder="סיסמא" ng-model="login.password">
                    </div>

                    <img src="img/new/enter.png" ng-click="makeLogin()" style="width:100%; padding: 10px 0;" />

                    <div ng-click="openForgotPasswordModal()" class="row100">
                        <div class="loginRight">שכחתי סיסמא&nbsp;</div>
                        <div class="loginLeft">
                            <img src="img/old/loginforgot1.png" style="height: 60px;" />
                        </div>
                    </div>


                    <div ui-sref="app.register">
                        <img src="img/new/login_register.png" style="width: 100%;">
                    </div>

                </div>

            </div>

        </div>

    </ion-content>
</ion-view>
