<ion-modal-view>
    <ion-content class="lightBackground">

        <div class="content">

            <div class="header">שכחתי סיסמא</div>

            <div class="forgotElements">

                <div class="div80" align="center">

                    <div class="customInput">
                        <input type="email" placeholder="להכניס כתובת אימייל שנרשמת איתו" ng-model="forgot.email">
                    </div>

                    <img ng-if="isSent === false" src="img/new/keys.png" style="width: 100%;">

                    <div class="forgotTextDiv" ng-if="isSent === true">
                        <div class="forgotText">סיסמתך נשלחה אליך לדואר האלקטרוני</div>
                        <div class="forgotText">השתמש בסיסמא זו לכניסתך הראשונית</div>
                        <div class="forgotText">תמיד ניתן להחליפה בפרופיל באזור האישי</div>
                        <div class="forgotText">שמחים שחזרת אלינו</div>
                        <div class="forgotText" style="padding-bottom: 20px;">צוות tip-li</div>
                    </div>


                    <img src="img/new/send.png" ng-if="isSent === false" style="width: 100%;" ng-click="sendForgotPassword()">
                    <img src="img/new/understand.png" ng-if="isSent === true" style="width: 100%;" ng-click="closeForgotPasswordModal()">

                </div>

            </div>

        </div>

    </ion-content>
</ion-modal-view>