<ion-modal-view>
    <ion-header-bar class="bar">
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal()">
                <i class="icon ion-close-circled" style="color: black"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="modalBackground rtl">

        <div class="text-center">

            <div ng-if="'app.month_prize' | isState">

                <!--28lessons-->

                <div ng-if="userData.gift == '0'">

                    <div ng-if="banners.transition_28.TipliBannerType == '1'">
                        <div ng-if="isIOS && userData.gift == '0'" data-ng-dfp-ad="28lessonsPageIos"></div>
                        <div ng-if="!isIOS && userData.gift == '0'" data-ng-dfp-ad="28lessonsPageAndroid"></div>
                    </div>

                    <div ng-if="banners.transition_28.TipliBannerType == '0'">

                        <div ng-if="banners.transition_28.banners.length == 1">
                            <img src="{{imageHost}}/{{banners.transition_28.banners[0].image}}" style="width: 100%;">
                        </div>

                        <div ng-if="banners.transition_28.banners.length > 1" style="width: 100%; height: 100%;">
                            <ion-slides options="options" slider="data.slider">
                                <ion-slide-page ng-repeat="banner in banners.transition_28.banners">
                                    <div><img src="{{imageHost}}/{{banner.image}}"></div>
                                </ion-slide-page>
                            </ion-slides>
                        </div>

                    </div>

                </div>

                <!--Weekend-->

                <div ng-if="userData.gift == '1'">

                    <div ng-if="banners.transition_weekend.TipliBannerType == '1'">
                        <div ng-if="isIOS && userData.gift == '1'" data-ng-dfp-ad="weekendPageIos"></div>
                        <div ng-if="!isIOS && userData.gift == '1'" data-ng-dfp-ad="weekendPageAndroid"></div>
                    </div>

                    <div ng-if="banners.transition_weekend.TipliBannerType == '0'">

                        <div ng-if="banners.transition_weekend.banners.length == 1">
                            <img src="{{imageHost}}/{{banners.transition_weekend.banners[0].image}}" style="width: 100%;">
                        </div>

                        <div ng-if="banners.transition_weekend.banners.length > 1" style="width: 100%; height: 100%;">
                            <ion-slides options="options" slider="data.slider">
                                <ion-slide-page ng-repeat="banner in banners.transition_weekend.banners">
                                    <div><img src="{{imageHost}}/{{banner.image}}"></div>
                                </ion-slide-page>
                            </ion-slides>
                        </div>

                    </div>

                </div>

            </div>

            <div ng-if="'app.results' | isState">

                <div ng-if="banners.transition_results.TipliBannerType == '1'">
                    <div ng-if="isIOS" data-ng-dfp-ad="resultsPageIos"></div>
                    <div ng-if="!isIOS" data-ng-dfp-ad="resultsPageAndroid"></div>
                </div>

                <div ng-if="banners.transition_results.TipliBannerType == '0'">

                    <div ng-if="banners.transition_results.banners.length == 1">
                        <img src="{{imageHost}}/{{banners.transition_results.banners[0].image}}" style="width: 100%;">
                    </div>

                    <div ng-if="banners.transition_results.banners.length > 1" style="width: 100%; height: 100%;">
                        <ion-slides options="options" slider="data.slider">
                            <ion-slide-page ng-repeat="banner in banners.transition_results.banners">
                                <div><img src="{{imageHost}}/{{banner.image}}"></div>
                            </ion-slide-page>
                        </ion-slides>
                    </div>

                </div>

            </div>

            <div ng-if="'app.test' | isState">

                <div ng-if="banners.transition_start_test.TipliBannerType == '1'">
                    <div ng-if="isIOS" data-ng-dfp-ad="startTestPageIos"></div>
                    <div ng-if="!isIOS" data-ng-dfp-ad="startTestPageAndroid"></div>
                </div>

                <div ng-if="banners.transition_start_test.TipliBannerType == '0'">

                    <div ng-if="banners.transition_start_test.banners.length == 1">
                        <img src="{{imageHost}}/{{banners.transition_start_test.banners[0].image}}" style="width: 100%;">
                    </div>

                    <div ng-if="banners.transition_start_test.banners.length > 1" style="width: 100%; height: 100%;">
                        <ion-slides options="options" slider="data.slider">
                            <ion-slide-page ng-repeat="banner in banners.transition_start_test.banners">
                                <div><img src="{{imageHost}}/{{banner.image}}"></div>
                            </ion-slide-page>
                        </ion-slides>
                    </div>

                </div>

            </div>

            <div ng-if="'app.test_results' | isState">

                <div ng-if="banners.transition_end_test.TipliBannerType == '1'">
                    <div ng-if="isIOS" data-ng-dfp-ad="endTestPageIos"></div>
                    <div ng-if="!isIOS" data-ng-dfp-ad="endTestPageAndroid"></div>
                </div>

                <div ng-if="banners.transition_end_test.TipliBannerType == '0'">

                    <div ng-if="banners.transition_end_test.banners.length == 1">
                        <img src="{{imageHost}}/{{banners.transition_end_test.banners[0].image}}" style="width: 100%;">
                    </div>

                    <div ng-if="banners.transition_end_test.banners.length > 1" style="width: 100%; height: 100%;">
                        <ion-slides options="options" slider="data.slider">
                            <ion-slide-page ng-repeat="banner in banners.transition_end_test.banners">
                                <div><img src="{{imageHost}}/{{banner.image}}"></div>
                            </ion-slide-page>
                        </ion-slides>
                    </div>

                </div>

            </div>

        </div>

    </ion-content>
</ion-modal-view>