<ion-view style="background-color: transparent;">
    <button class="button button-clear videoCloseButton" ng-click="hideVideo()">
        <img src="img/old/close.png" style="width:25px">
    </button>
    <div class="videoDiv textCenter">
        <youtube-video video-url="video" player-width="300" player-height="240"></youtube-video>
    </div>
</ion-view>
