<ion-view style="background-color: transparent;">

    <div class="updatedInfoMainDiv">

        <img src="img/old/updated_info_popup.png" style="width: 100%;" ng-click="hideUpdatedInfoPopup()">

    </div>

</ion-view>
