<ion-view style="background-color: transparent;">

    <div class="deletedFavMainDiv">

        <img src="img/old/deleted_fav_popup.png" style="width: 100%;" ng-click="hideDeletedFavPopup()">

    </div>

</ion-view>
