<ion-view hide-nav-bar="true">
    <ion-content class="scrollDarkerColor">

        <img src="img/backgrounds/small_back.jpg" style="height: 30vh; width: 100%;">

        <div class="sideMenuHome">
            <img src="img/new/home_icon.png" width="40" ui-sref="app.home">
            <div class="sideMenuHomeText">עמוד<br>הבית</div>
        </div>

        <div class="header">פניה למומחה</div>

        <div class="personalScrollContent text-center" style="padding: 10px 0">

            <div class="pos-rel">
                <img src="img/new/half_small.png" style="width: 90%;">

                <div class="personalProfileTitles">
                    <div class="personalTitle">פניה ישירה ואישית</div>
                    <div class="personalTitle">למומחה בנושא תעבורה</div>
                </div>
            </div>

            <div class="div90">

                <ion-scroll direction="y" delegate-handle="smallScroll" class="personalMessages">
                    <div ng-repeat="element in messages | orderBy:'date'">

                        <div class="personalQuestionTitle" ng-show="element.type == 'question'">אני:</div>
                        <div class="personalQuestion" ng-show="element.type == 'question'">{{element.message}}</div>

                        <div class="personalAnswerTitle" ng-show="element.type == 'answer'">מומחה:</div>
                        <div class="personalAnswer" ng-show="element.type == 'answer'">{{element.message}}</div>

                    </div>
                </ion-scroll>

                <div class="personalMessageDiv">
                    <div class="personalMessageDivLeft" align="center">
                        <div style="width:80%; margin-top:10px;" ng-click="sendMessage()">
                            <img src="img/old/ask_icon.png" style="width:100%"/>
                        </div>
                    </div>

                    <div class="personalMessageDivRight">
                        <textarea placeholder="הקלד ושלח - פנייתך תעבור למומחה, תשובה ב ימים הקרובים" ng-model="message.subject" class="personalTextarea" required></textarea>
                    </div>
                </div>

            </div>

        </div>

    </ion-content>
</ion-view>
