<ion-view hide-nav-bar="true">

    <ion-content class="scrollDarkerColor has-footer rtl">

        <img src="img/backgrounds/tip_for_saturday.png" style="height: 37vh; width: 100%;">

        <div class="sideMenuHome">
            <img src="img/new/home_icon.png" width="40" ui-sref="app.home">
            <div class="sideMenuHomeText">עמוד<br>הבית</div>
        </div>

        <div class="scrollContent textCenter pos-rel">

            <div class="shabbatImage">
                <img src="img/backgrounds/tip_for_saturday.png" style="width: 100%;">
            </div>

            <!--<div class="shabbatImage">-->
                <!--<youtube-video video-url="" player-width="'100%'" style="height:150px !important;"></youtube-video>-->
            <!--</div>-->

            <div class="interButton">הבנתי</div>

        </div>

    </ion-content>
    <ion-footer-bar class="homeFooter rtl">
        <div class="homeFooterButton" ui-sref="app.catalog"><img src="img/home/f1.png" style="width: 80%;"></div>
        <div class="homeFooterButton" ui-sref="app.information"><img src="img/home/f2.png" style="width: 80%;"></div>
        <div class="homeFooterButton" ui-sref="app.article({articleId:7})"><img src="img/home/f3.png" style="width: 80%;"></div>
        <div class="homeFooterButton" ui-sref="app.personal"><img src="img/home/f4.png" style="width: 80%;"></div>
        <div class="homeFooterButton" ui-sref="app.question_to_specialist"><img src="img/home/f5.png" style="width: 80%;"></div>
    </ion-footer-bar>
</ion-view>
