<ion-view hide-nav-bar="true">
    <ion-content class="has-footer hasBannerFooter">

        <img src="img/backgrounds/header_small.png" style="width: 100%; height: 17vh;">

        <div class="sideMenuHome">
            <img src="img/new/home_icon.png" width="40" ui-sref="app.home">
            <div class="sideMenuHomeText">עמוד<br>הבית</div>
        </div>

        <div class="header">מידע שימושי</div>

        <div class="informationContent">
            <div class="row100" style="background-color:white;">

                <div class="informationLeft">

                    <img ui-sref="app.article({articleId:2})" src="img/info/l1.png" style="width:100%; height: 50%;"/>
                    <img ui-sref="app.article({articleId:4})" src="img/info/l2.png" style="width:100%; margin-top:-8px; height: 20%;"/>
                    <div class="infoLeft">
                        <div ui-sref="app.article({articleId:7})" class="infoLeft1">
                            <img src="img/info/l3.png" style="width:100%; height: 100%;"/>
                        </div>
                        <div ui-sref="app.question_to_specialist" class="infoLeft1">
                            <img src="img/info/l4.png" style="width:100%; height: 100%;"/>
                        </div>
                    </div>

                </div>

                <div class="informationRight">
                    <img ui-sref="app.article({articleId:1})" src="img/info/r1.png" style="width:100%; height: 20%;"/>
                    <img ui-sref="app.article({articleId:3})" src="img/info/r2.png" style="width:100%; margin-top:-6px; height: 40%;"/>
                    <img ui-sref="app.article({articleId:5})" src="img/info/r3.png" style="width:100%; margin-top:-6px; height: 41%;"/>
                </div>

            </div>
        </div>
			
    </ion-content>

    <ion-footer-bar class="bannerFooter">

        <div ng-if="banners.info.TipliBannerType == '1'">
            <div ng-if="isIOS" data-ng-dfp-ad="iosInformation"></div>
            <div ng-if="!isIOS" data-ng-dfp-ad="androidInformation"></div>
        </div>

        <div ng-if="banners.info.TipliBannerType == '0'">

            <div ng-if="banners.info.banners.length == 1">
                <img src="{{imageHost}}/{{banners.info.banners[0].image}}" style="width: 100%;">
            </div>

            <div ng-if="banners.info.banners.length > 1" style="width: 100%; height: 100%;">
                <ion-slides options="options" slider="data.slider">
                    <ion-slide-page ng-repeat="banner in banners.info.banners">
                        <div><img src="{{imageHost}}/{{banner.image}}"></div>
                    </ion-slide-page>
                </ion-slides>
            </div>

        </div>

    </ion-footer-bar>

</ion-view>
