<ion-view hide-nav-bar="true">
    <ion-content>

        <img src="img/backgrounds/header_small.png" style="width: 100%; height: 17vh;">

        <div class="sideMenuHome">
            <img src="img/new/home_icon.png" width="40" ui-sref="app.home">
            <div class="sideMenuHomeText">עמוד<br>הבית</div>
        </div>

        <div class="catalogTitleName">
            <div class="catalogMenuIcon" align="center" ng-click="toggleRightSideMenu()">
                <img src="img/old/white_menu_icon.png" style="height:25px; margin-top: 5px"/>
            </div>
            <div class="catalogTitle">
                <div class="pointsHeaderCatalog" ng-show="categoryNumber == 0">בחר קטגוריה</div>
                <div class="pointsHeaderCatalog" ng-show="categoryNumber != 0">{{categoryName}}</div>
            </div>
        </div>

        <!--if iframe-->

        <div ng-show="deal.showiframe == '1'" style="width: 100%; height: 100vh; position: relative">
            <iframe ng-src="{{iframeLink}}" style="position:absolute; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>
        </div>

        <!--if usual deal-->

        <div ng-show="deal.showiframe == '0'">

            <div class="discountTitle"> {{deal.title}}</div>

            <div class="discountInfo">

                <div class="discountInfoLeft">

                    <img src="{{imageHost}}/{{deal.supplier_logo}}" ng-show="deal.supplier_logo != ''" style="width:100%;" />
                    <img src="img/old/empty_logo.png" ng-show="deal.supplier_logo == ''" style="width:100%;" />

                    <div class="discountRegularPriceText" ng-show="deal.regular_price != ''">מחיר רגיל</div>
                    <div class="discountRegularPriceBlock" ng-show="deal.regular_price != ''">
                        <img src="img/old/teaser_x.png" style="width:100%" />
                    </div>
                    <div class="discountRegularPrice" ng-show="deal.regular_price != ''">{{deal.regular_price}} <span> 	&#8362;</span></div>

                    <div class="discountNewPriceText" ng-show="deal.member_price != ''">מחיר חבר</div>
                    <div class="discountRegularPrice" ng-show="deal.member_price != ''">{{deal.member_price}} <span> 	&#x20aa;</span></div>

                </div>

                <div class="discountInfoRight">

                    <img src="{{imageHost}}/{{deal.image}}" style="width:100%;" ng-show="deal.imageSlider.length == 0"/>

                    <div ng-show="deal.imageSlider.length != 0">
                        <ion-slides options="options" slider="data.slider" style="width: 100%; height: 260px;">
                            <ion-slide-page ng-repeat="pic in deal.imageSlider">
                                <div>
                                    <img src="{{imageHost}}/{{pic}}">
                                </div>
                            </ion-slide-page>
                        </ion-slides>
                    </div>
                </div>

            </div>

            <div class="discountInfo rtl" >
                <div class="discountCodeRightNew" ng-show="deal.dealgivenby == '1'">
                    <img src="img/old/get_deal.png" style="width: 100%;" ng-click="goToLink(deal.codelink, deal.title)">
                </div>
                <div class="discountCodeRight" ng-show="deal.dealgivenby == '0'">{{deal.codelink}}</div>
                <div class="discountCodeLeft" ng-click="makeFavorite(deal.index, deal.title)" ng-show="!isFavorite(deal.index)">
                    <img src="img/old/favorite.png" style="width: 100%;">
                </div>
                <div class="discountCodeLeftClicked" ng-show="isFavorite(deal.index)">נשמר במועדפים בקטלוג</div>
            </div>

            <div class="discountInfo rtl">

                <div class="greyRow">פרטי ההטבה</div>
                <div class="mh80" ng-bind-html="deal.desc"></div>
                <div class="greyRow">תנאים כלליים</div>
                <div class="mh80" ng-bind-html="deal.terms"></div>
                <div class="greyRow" ng-show="deal.youtube != ''">סרטון</div>
                <div ng-show="deal.youtube != ''">
                    <youtube-video video-url="deal.youtube" player-width="'100%'" style="height:200px !important" ></youtube-video>
                </div>
                <div class="greyRow" ng-show="deal.brances.length > 0">כתובות הסניפים</div>
                <div class="mh80" ng-show="deal.brances.length > 0">
                    <div ng-repeat="branch in deal.brances">
                        <p>{{branch[0].address}}</p>
                    </div>
                </div>

            </div>

        </div>

    </ion-content>
</ion-view>
