<ion-modal-view>
    <ion-content class="scrollLightColor has-footer hasBannerFooter rtl">

        <img src="img/backgrounds/header.png" style="height: 30vh; width: 100%;">

        <div class="sideMenuIcon" ng-click="closeModal()">
            <i class="icon ion-close-circled" style="color: white; font-size: 250%;"></i>
        </div>

        <div class="personalScrollContent text-center">

            <div class="centerBigButton"><img src="img/new/prize_big.png" width="70"></div>

            <div class="bonusImg">
                <img src="img/new/500.png" ng-if="bonus == '1'" style="width: 100%;">
                <img src="img/new/1000.png" ng-if="bonus == '2'" style="width: 100%;">
            </div>

            <div class="squareBanner">

                <!--prize1-->

                <div ng-if="bonus == '1'">

                    <div ng-if="banners.cube_prize1.TipliBannerType == '1'">
                        <div ng-if="isIOS && bonus == '1'" data-ng-dfp-ad="received500CubeIos"></div>
                        <div ng-if="!isIOS && bonus == '1'" data-ng-dfp-ad="received500CubeAndroid"></div>
                    </div>

                    <div ng-if="banners.cube_prize1.TipliBannerType == '0'">

                        <div ng-if="banners.cube_prize1.banners.length == 1">
                            <img src="{{imageHost}}/{{banners.cube_prize1.banners[0].image}}" style="width: 100%;">
                        </div>

                        <div ng-if="banners.cube_prize1.banners.length > 1" style="width: 100%; height: 100%;">
                            <ion-slides options="options" slider="data.slider">
                                <ion-slide-page ng-repeat="banner in banners.cube_prize1.banners">
                                    <div><img src="{{imageHost}}/{{banner.image}}"></div>
                                </ion-slide-page>
                            </ion-slides>
                        </div>

                    </div>

                </div>

                <!--prize2-->

                <div ng-if="bonus == '2'">

                    <div ng-if="banners.cube_prize2.TipliBannerType == '1'">
                        <div ng-if="isIOS && bonus == '2'" data-ng-dfp-ad="received1000CubeIos"></div>
                        <div ng-if="!isIOS && bonus == '2'" data-ng-dfp-ad="received1000CubeAndroid"></div>
                    </div>

                    <div ng-if="banners.cube_prize2.TipliBannerType == '0'">

                        <div ng-if="banners.cube_prize2.banners.length == 1">
                            <img src="{{imageHost}}/{{banners.cube_prize2.banners[0].image}}" style="width: 100%;">
                        </div>

                        <div ng-if="banners.cube_prize2.banners.length > 1" style="width: 100%; height: 100%;">
                            <ion-slides options="options" slider="data.slider">
                                <ion-slide-page ng-repeat="banner in banners.cube_prize2.banners">
                                    <div><img src="{{imageHost}}/{{banner.image}}"></div>
                                </ion-slide-page>
                            </ion-slides>
                        </div>

                    </div>

                </div>

            </div>

            <img src="img/new/understand.png" style="width: 70%;" ng-click="closeModal()">

        </div>

    </ion-content>
    <ion-footer-bar class="bannerFooter rtl">

        <!--prize1-->

        <div ng-if="bonus == '1'">

            <div ng-if="banners.banner_prize1.TipliBannerType == '1'">
                <div ng-if="isIOS && bonus == '1'" data-ng-dfp-ad="received500Ios"></div>
                <div ng-if="!isIOS && bonus == '1'" data-ng-dfp-ad="received500Android"></div>
            </div>

            <div ng-if="banners.banner_prize1.TipliBannerType == '0'">

                <div ng-if="banners.banner_prize1.banners.length == 1">
                    <img src="{{imageHost}}/{{banners.banner_prize1.banners[0].image}}" style="width: 100%;">
                </div>

                <div ng-if="banners.banner_prize1.banners.length > 1" style="width: 100%; height: 100%;">
                    <ion-slides options="options" slider="data.slider">
                        <ion-slide-page ng-repeat="banner in banners.banner_prize1.banners">
                            <div><img src="{{imageHost}}/{{banner.image}}"></div>
                        </ion-slide-page>
                    </ion-slides>
                </div>

            </div>

        </div>

        <!--prize2-->

        <div ng-if="bonus == '2'">

            <div ng-if="banners.banner_prize2.TipliBannerType == '1'">
                <div ng-if="isIOS && bonus == '2'" data-ng-dfp-ad="received1000Ios"></div>
                <div ng-if="!isIOS && bonus == '2'" data-ng-dfp-ad="received1000Android"></div>
            </div>

            <div ng-if="banners.banner_prize2.TipliBannerType == '0'">

                <div ng-if="banners.banner_prize2.banners.length == 1">
                    <img src="{{imageHost}}/{{banners.banner_prize2.banners[0].image}}" style="width: 100%;">
                </div>

                <div ng-if="banners.banner_prize2.banners.length > 1" style="width: 100%; height: 100%;">
                    <ion-slides options="options" slider="data.slider">
                        <ion-slide-page ng-repeat="banner in banners.banner_prize2.banners">
                            <div><img src="{{imageHost}}/{{banner.image}}"></div>
                        </ion-slide-page>
                    </ion-slides>
                </div>

            </div>

        </div>

    </ion-footer-bar>
</ion-modal-view>