<ion-view hide-nav-bar="true">
    <ion-content ng-class="{scrollLightColor: selection == 'profile', scrollDarkerColor: selection != 'profile', hasBannerFooter: selection == 'personal'}">

        <img src="img/backgrounds/header.png" style="height: 30vh; width: 100%;" ng-if="selection == 'profile'">
        <img src="img/backgrounds/small_back.jpg" style="height: 30vh; width: 100%;" ng-if="selection != 'profile'">

        <div class="sideMenuHome">
            <img src="img/new/home_icon.png" width="40" ui-sref="app.home">
            <div class="sideMenuHomeText">עמוד<br>הבית</div>
        </div>

        <div class="header" ng-if="selection == 'personal'">הניקוד שלי</div>
        <div class="header" ng-if="selection == 'profile'">פרופיל</div>
        <div class="header" ng-if="selection == 'message'">פניה למומחה</div>

        <div class="personalScrollContent text-center" style="padding: 10px 0">

            <div class="personalProfile" ng-click="setSelection('profile')"><img src="img/new/profile.png" width="70"></div>
            <div class="centerButton" ng-click="setSelection('personal')"><img src="img/new/points.png" width="70"></div>
            <div class="personalQuestions" ng-click="setSelection('message')"><img src="img/new/question_to_specialist.png" width="70"></div>

            <div ng-switch="selection">

                <!--PROFILE-->

                <div ng-switch-when="profile">

                    <div class="div90">

                        <div class="customInput">
                            <input type="text" ng-model="personalInformation.firstname">
                        </div>

                        <div class="customInput">
                            <input type="text" ng-model="personalInformation.lastname">
                        </div>

                        <div class="customInput">
                            <input type="password" placeholder="סיסמא ישנה" ng-model="personalInformation.old_password">
                        </div>

                        <div class="customInput">
                            <input type="password" placeholder="סיסמא חדשה" ng-model="personalInformation.new_password">
                        </div>

                        <div class="customInput">
                            <input type="text" g-places-autocomplete options="autocompleteOptions" placeholder="יישוב" ng-model="personalInformation.address">
                        </div>

                        <div class="row100" style="margin-bottom: 10px;">

                            <div class="registerButton">

                                <div class="row100">

                                    <div class="registerButton">
                                        <div class="registerCircle" ng-click="selectSoldier(0)">
                                            <i ng-if="personalInformation.soldier === 0" class="icon ion-record" style="color: red;"></i>
                                        </div>
                                    </div>
                                    <div class="registerButton" align="right">אזרח/ית</div>

                                </div>

                            </div>

                            <div class="registerButton">

                                <div class="row100">

                                    <div class="registerButton">
                                        <div class="registerCircle" ng-click="selectSoldier(1)">
                                            <i ng-if="personalInformation.soldier === 1" class="icon ion-record" style="color: red;"></i>
                                        </div>
                                    </div>
                                    <div class="registerButton" align="right">חייל/ת</div>

                                </div>

                            </div>

                        </div>

                        <div class="row100" ng-if="personalInformation.soldier === 1" style="margin-bottom: 10px;">

                            <div class="registerButton" style="text-align: center; padding-top: 20px;">אני נהג צבאי</div>

                            <div class="registerButton">

                                <div class="row100">

                                    <div class="registerSmallButton">
                                        <div class="registerCircle" ng-click="selectSoldierDriver(1)">
                                            <i ng-if="personalInformation.soldier_driver === 1" class="icon ion-record" style="color: red;"></i>
                                        </div>
                                    </div>
                                    <div class="registerSmallButton" align="right">כן</div>

                                    <div class="registerSmallButton">
                                        <div class="registerCircle" ng-click="selectSoldierDriver(0)">
                                            <i ng-if="personalInformation.soldier_driver === 0" class="icon ion-record" style="color: red;"></i>
                                        </div>
                                    </div>
                                    <div class="registerSmallButton" align="right">לא</div>

                                </div>

                            </div>

                        </div>

                        <!--<div style="text-align: right; padding: 5px; direction: rtl">בחר את הפרס הרצוי:</div>-->

                        <!--<div class="customInput">-->
                            <!--<select ng-model="personalInformation.gift">-->
                                <!--<option value="0">28 שעות נהיגה חינם</option>-->
                                <!--<option value="1">חופשה זוגית</option>-->
                            <!--</select>-->
                        <!--</div>-->

                        <div class="personalUserpicDiv">

                            <div class="personalUserpicButton">
                                <img src="img/old/take_picture.png" style="width:100%;" ng-click="getPhoto()"/>
                            </div>

                            <div class="personalUserpicImage" ng-show="userpic != ''">
                                <img ng-src={{userpic}} width="70">
                            </div>

                            <div class="personalUserpicImage" ng-show="image != '' && userpic == ''">
                                <img ng-src={{image}} width="70">
                            </div>

                            <div class="personalUserpicRight">הוסף תמונה מהגלריה שלך</div>

                        </div>

                        <div class="personalUserpicDiv" style="margin-top:10px; margin-bottom:20px;" ng-click="saveChanges()">

                            <div class="personalUserpicButton">
                                <img src="img/old/browse_icon.png" style="width:100%" />
                            </div>
                            <div class="personalUserSaveChange">שמור שינויים</div>

                        </div>

                    </div>

                </div>

                <!--POINTS-->

                <div ng-switch-when="personal">

                    <div class="pos-rel">
                        <img src="img/new/half_small.png" style="width: 90%;">

                        <div class="personalTitles">
                            <div class="personalTitle">ריכוז</div>
                            <div class="personalTitle">מצב הנקודות שלי</div>
                            <div style="color: white;">כל חודש הניקוד מתאפס ומתחיל משחק חדש</div>
                        </div>
                    </div>

                    <div class="pointTitle" style="margin-top: 10px;">
                        <div>צברתי מתחילת החודש {{monthPoints  | number : 2}} נקודות</div>
                    </div>

                    <div class="personalTableRow">
                        <div class="personalTableLeft">{{correctAnswers}}</div>
                        <div class="personalTableRight">תשובות נכונות החודש</div>
                    </div>
                    <div class="yellowRow"></div>
                    <div class="personalTableRow">
                        <div class="personalTableLeft">{{incorrectAnswers}}</div>
                        <div class="personalTableRight">תשובות לא נכונות החודש</div>
                    </div>
                    <div class="yellowRow"></div>
                    <div class="personalTableRow">
                        <div class="personalTableLeft">{{allPoints | number : 2}}</div>
                        <div class="personalTableRight">נקודות שצברתי מעת ההרשמה</div>
                    </div>
                    <div class="yellowRow"></div>

                    <div class="pointTitle">&nbsp;</div>

                </div>

                <!--MESSAGE-->

                <div ng-switch-when="message">

                    <div class="pos-rel">
                        <img src="img/new/half_small.png" style="width: 90%;">

                        <div class="personalProfileTitles">
                            <div class="personalTitle">פניה ישירה ואישית</div>
                            <div class="personalTitle">למומחה בנושא תעבורה</div>
                        </div>
                    </div>

                    <div class="div90">

                        <ion-scroll direction="y" delegate-handle="smallScroll" class="personalMessages">
                            <div ng-repeat="element in messages | orderBy:'date'">

                                <div class="personalQuestionTitle" ng-show="element.type == 'question'">אני:</div>
                                <div class="personalQuestion" ng-show="element.type == 'question'">{{element.message}}</div>

                                <div class="personalAnswerTitle" ng-show="element.type == 'answer'">מומחה:</div>
                                <div class="personalAnswer" ng-show="element.type == 'answer'">{{element.message}}</div>

                            </div>
                        </ion-scroll>

                        <div class="personalMessageDiv">
                            <div class="personalMessageDivLeft" align="center">
                                <div style="width:80%; margin-top:10px;" ng-click="sendMessage()">
                                    <img src="img/old/ask_icon.png" style="width:100%"/>
                                </div>
                            </div>

                            <div class="personalMessageDivRight">
                                <textarea placeholder="הקלד ושלח - פנייתך תעבור למומחה, תשובה ב ימים הקרובים" ng-model="message.subject" class="personalTextarea" required></textarea>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </ion-content>
    <ion-footer-bar ng-if="selection == 'personal'" class="bannerFooter">

        <div ng-if="banners.personal.TipliBannerType == '1'"  ng-click="sendGA('עמוד אישי')">
            <div ng-if="isIOS" data-ng-dfp-ad="personalIos"></div>
            <div ng-if="!isIOS" data-ng-dfp-ad="personalAndroid"></div>
        </div>

        <div ng-if="banners.personal.TipliBannerType == '0'">

            <div ng-if="banners.personal.banners.length == 1">
                <img src="{{imageHost}}/{{banners.personal.banners[0].image}}" style="width: 100%;">
            </div>

            <div ng-if="banners.personal.banners.length > 1" style="width: 100%; height: 100%;">
                <ion-slides options="options" slider="data.slider">
                    <ion-slide-page ng-repeat="banner in banners.personal.banners">
                        <div><img src="{{imageHost}}/{{banner.image}}"></div>
                    </ion-slide-page>
                </ion-slides>
            </div>

        </div>

    </ion-footer-bar>
</ion-view>
