<ion-view style="background-color: transparent;" ng-click="dailyDealPopup.close()">

    <div class="pos-rel">

        <img src="img/popups/popup_daily_deal.png" style="width: 80%;">

        <div class="dailyDealImg">
            <img src="{{imageHost}}/{{todayDeal.image}}" style="width:80%;" ng-show="todayDeal.imageSlider.length == 0"/>

            <div ng-show="todayDeal.imageSlider.length != 0">
                <ion-slides options="options" slider="data.slider" style="width: 80%;">
                    <ion-slide-page ng-repeat="pic in todayDeal.imageSlider">
                        <div>
                            <img src="{{imageHost}}/{{pic}}">
                        </div>
                    </ion-slide-page>
                </ion-slides>
            </div>
        </div>

        <div>
            <img src="img/new/deal.png" style="width: 50%;" ui-sref="app.discount">
        </div>

        <div>
            <img src="img/new/no_continue.png" style="width: 50%;" ng-click="dailyDealPopup.close()">
        </div>

    </div>

</ion-view>
