<ion-view hide-nav-bar="true">
    <ion-content class="scrollLightColor">

        <img src="img/backgrounds/header.png" style="height: 30vh; width: 100%;">

        <div class="scrollContent">

            <div ng-click="FaceBookLoginBtn()" style="width: 100%; text-align: center; margin-top: -9vh;">
                <img src="img/new/facebook.png" style="width: 70%;">
            </div>

            <div class="customInput">
                <input type="text" placeholder="שם פרטי" ng-model="register.firstname">
            </div>

            <div class="customInput">
                <input type="text" placeholder="שם משפחה" ng-model="register.lastname">
            </div>

            <div class="customInput">
                <input type="email" placeholder="כתובת אימייל" ng-model="register.email">
            </div>

            <div class="customInput">
                <input type="password" placeholder="בחר סיסמא שתזכור" ng-model="register.password">
            </div>

            <div class="customInput">
                <input type="text" g-places-autocomplete options="autocompleteOptions" placeholder="יישוב" ng-model="register.maps">
            </div>

            <label class="item item-input item-select itemSelected">
                <input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="תאריך לידה" class="ion-input-select--large itemSelectedBox" ng-model="register.birthday">
            </label>

            <div class="customInput">
                <input type="text" placeholder="הזן קוד במידה וקיבלת" ng-model="register.code">
            </div>

            <div class="row100">

                <div class="registerButton">

                    <div class="row100">

                        <div class="registerButton">
                            <div class="registerCircle" ng-click="selectGender('0')">
                                <i ng-if="register.gender === '0'" class="icon ion-record" style="color: red; padding-left: 10px;"></i>
                            </div>
                        </div>
                        <div class="registerButton" align="right">זכר</div>

                    </div>

                </div>

                <div class="registerButton">

                    <div class="row100">

                        <div class="registerButton">
                            <div class="registerCircle" ng-click="selectGender('1')">
                                <i ng-if="register.gender === '1'" class="icon ion-record" style="color: red; padding-left: 10px;"></i>
                            </div>
                        </div>
                        <div class="registerButton" align="right">נקבה</div>

                    </div>

                </div>

            </div>

            <div class="row100">

                <div class="registerButton">

                    <div class="row100">

                        <div class="registerButton">
                            <div class="registerCircle" ng-click="selectSoldier('0')">
                                <i ng-if="register.soldier === '0'" class="icon ion-record" style="color: red; padding-left: 10px;"></i>
                            </div>
                        </div>
                        <div class="registerButton" align="right">אזרח/ית</div>

                    </div>

                </div>

                <div class="registerButton">

                    <div class="row100">

                        <div class="registerButton">
                            <div class="registerCircle" ng-click="selectSoldier('1')">
                                <i ng-if="register.soldier === '1'" class="icon ion-record" style="color: red; padding-left: 10px;"></i>
                            </div>
                        </div>
                        <div class="registerButton" align="right">חייל/ת</div>

                    </div>

                </div>

            </div>

            <div class="row100" ng-if="register.soldier === '1'">

                <div class="registerButton" style="text-align: center; padding-top: 20px;">אני נהג צבאי</div>

                <div class="registerButton">

                    <div class="row100">

                        <div class="registerSmallButton">
                            <div class="registerCircle" ng-click="selectSoldierDriver('1')">
                                <i ng-if="register.soldier_driver === '1'" class="icon ion-record" style="color: red; padding-left: 10px;"></i>
                            </div>
                        </div>
                        <div class="registerSmallButton" align="right">כן</div>

                        <div class="registerSmallButton">
                            <div class="registerCircle" ng-click="selectSoldierDriver('0')">
                                <i ng-if="register.soldier_driver === '0'" class="icon ion-record" style="color: red; padding-left: 10px;"></i>
                            </div>
                        </div>
                        <div class="registerSmallButton" align="right">לא</div>

                    </div>

                </div>

            </div>

            <!--<div class="customInput">-->
                <!--<select ng-model="register.gift">-->
                    <!--<option value="">אני רוצה לזכות ב...</option>-->
                    <!--<option value="0">28 שעות נהיגה חינם</option>-->
                    <!--<option value="1">חופשה זוגית</option>-->
                <!--</select>-->
            <!--</div>-->

            <div class="rtl">ניתן לשנות פרטים בפרופיל באזור האישי</div>

            <div class="row100">

                <div class="registerCheckbox" ng-click="acceptTerms()"><div>
                    <i ng-if="termsAccepted" class="icon ion-checkmark" style="font-size: 20px; line-height: 30px;"></i>
                </div></div>
                <div class="registerLabel">קראתי והבנתי את <a href="" ui-sref="app.terms">התקנון</a></div>

            </div>

            <div class="row100">

                <div class="registerRightButton">
                    <img src="img/new/enter.png" style="width: 80%; padding: 10px 0;" ng-click="makeRegistration()">
                </div>

                <div class="registerLeftButton">
                    <img src="img/new/enter2.png" style="width: 100%; padding: 10px 0;" ui-sref="app.login">
                </div>

            </div>

        </div>

    </ion-content>
</ion-view>
