<ion-view hide-nav-bar="true">
    <ion-content class="scrollLightColor rtl">

        <img src="img/backgrounds/header.png" style="height: 30vh; width: 100%;">

        <div class="sideMenuHome">
            <img src="img/new/home_icon.png" width="40" ui-sref="app.home">
            <div class="sideMenuHomeText">עמוד<br>הבית</div>
        </div>

        <div class="header">תירגול תאוריה</div>

        <div class="scrollCenterButton"><img src="img/new/book.png" width="100"></div>

        <div class="testContent">

            <div class="row100">

                <div class="testLogo" ng-show="question.from_transportation == '1'">
                    <img src="img/QA/logo-misrad.png" style="width: 50%;">
                </div>

                <div class="testTitle">
                    <div style="font-size: 35px;">שאלה</div>
                    <div>{{question_number}} מתוך 40</div>
                </div>

            </div>

            <div class="testQuestion">{{question.question}}</div>

            <div class="row100">
                <div class="testVariantRight" ng-click="select('1')">
                    <div class="testVariantRightText" ng-style="{'background-color': back[0]}">{{question.answer1}}</div>
                </div>
                <div class="testVariantLeft" ng-click="select('2')">
                    <div class="testVariantLeftText" ng-style="{'background-color': back[1]}">{{question.answer2}}</div>
                </div>
            </div>

            <div class="row100" align="center">
                <div class="testVariantRight" ng-click="select('3')">
                    <div class="testVariantRightText" ng-style="{'background-color': back[2]}">{{question.answer3}}</div>
                </div>
                <div class="testVariantLeft" ng-click="select('4')">
                    <div class="testVariantLeftText" ng-style="{'background-color': back[3]}">{{question.answer4}}</div>
                </div>
            </div>

            <div class="padding-top">
                <img src="img/new/go.png" ng-if="question_number < 40" style="width: 80%;" ng-click="goToNext()">
                <img src="img/new/go.png" ng-if="question_number == 40" style="width: 80%;" ui-sref="app.test_results">
            </div>

        </div>

    </ion-content>
</ion-view>
