<ion-view hide-nav-bar="true">

    <ion-content scroll="false" class="has-footer" ng-class="{homeMain: isDayTime == true, homeMainNight: isDayTime == false}">

        <div class="homeContent">

            <!--Logout icon-->
            <div class="sideMenuIcon">
                <img ng-show="image && image != ''" ng-src="{{image}}" ng-click="logout()" style="width:100%"/>
                <img ng-show="!image && userData.gender == 0" src="img/old/man_icon.png" ng-click="logout()" style="width:100%"/>
                <img ng-show="!image && userData.gender == 1" src="img/old/woman_icon.png" ng-click="logout()" style="width:100%"/>
                <div class="sideMenuIconText">התנתק</div>
            </div>

            <div class="homeElements">

                <div class="homeBack">

                    <img src="img/backgrounds/background.png" width="280" height="195">

                    <span ng-repeat="day in days track by $index">

                        <!--Usual days-->

                        <a ng-if="day.bonus_day == '0' && day.status === 'empty'" ng-click="goToDay(day.date, '1')" class="img{{day.number}}"><img src="img/home/red.png" style="width: 25px;"></a>
                        <a ng-if="day.bonus_day == '0' && day.status === 'half'" ng-click="goToDay(day.date, '2')" class="img{{day.number}}"><img src="img/home/yellow.png" style="width: 23px;"></a>
                        <a ng-if="day.bonus_day == '0' && day.status === 'half_frozen'" class="img{{day.number}}"><img src="img/home/yellow.png" style="width: 23px;"></a>
                        <a ng-if="day.bonus_day == '0' && day.status === 'full'" class="img{{day.number}}"><img src="img/home/green.png" style="width: 25px;"></a>
                        <a ng-if="day.bonus_day == '0' && day.status === 'future'" class="img{{day.number}}"><img src="img/home/grey.png" style="width: 25px;"></a>

                        <!--Prize 1 - yes-->

                        <a ng-if="day.bonus_day == '1' && day.number == '7' && prize1 === '1' && day.status === 'empty'" ng-click="goToDay(day.date, '1')" class="present1"><img src="img/home/present_red.png" style="width: 25px;"></a>
                        <a ng-if="day.bonus_day == '1' && day.number == '7' && prize1 === '1' && day.status === 'half'" ng-click="goToDay(day.date, '2')" class="present1"><img src="img/home/present_yellow.png" style="width: 23px;"></a>
                        <a ng-if="day.bonus_day == '1' && day.number == '7' && prize1 === '1' && day.status === 'half_frozen'" class="present1"><img src="img/home/present_yellow.png" style="width: 23px;"></a>
                        <a ng-if="day.bonus_day == '1' && day.number == '7' && prize1 === '1' && day.status === 'full'" class="present1"><img src="img/home/present_green.png" style="width: 25px;"></a>
                        <a ng-if="day.bonus_day == '1' && day.number == '7' && prize1 === '1' && day.status === 'future'" ng-click="showPresent(1)" class="present1"><img src="img/home/present_grey.png" style="width: 25px;"></a>

                        <!--Prize 1 - no-->

                        <a ng-if="day.bonus_day == '1' && day.number == '7' && prize1 === '0' && day.status === 'empty'" ng-click="goToDay(day.date, '1')" class="img{{day.number}}"><img src="img/home/red.png" style="width: 25px;"></a>
                        <a ng-if="day.bonus_day == '1' && day.number == '7' && prize1 === '0' && day.status === 'half'" ng-click="goToDay(day.date, '2')" class="img{{day.number}}"><img src="img/home/yellow.png" style="width: 23px;"></a>
                        <a ng-if="day.bonus_day == '1' && day.number == '7' && prize1 === '0' && day.status === 'half_frozen'" class="img{{day.number}}"><img src="img/home/yellow.png" style="width: 23px;"></a>
                        <a ng-if="day.bonus_day == '1' && day.number == '7' && prize1 === '0' && day.status === 'full'" class="img{{day.number}}"><img src="img/home/green.png" style="width: 25px;"></a>
                        <a ng-if="day.bonus_day == '1' && day.number == '7' && prize1 === '0' && day.status === 'future'" class="img{{day.number}}"><img src="img/home/grey.png" style="width: 25px;"></a>

                        <!--Prize 2 - yes-->

                        <a ng-if="day.bonus_day == '1' && day.number == '16' && prize2 === '1' && day.status === 'empty'" ng-click="goToDay(day.date, '1')" class="present2"><img src="img/home/present_red.png" style="width: 25px;"></a>
                        <a ng-if="day.bonus_day == '1' && day.number == '16' && prize2 === '1' && day.status === 'half'" ng-click="goToDay(day.date, '2')" class="present2"><img src="img/home/present_yellow.png" style="width: 23px;"></a>
                        <a ng-if="day.bonus_day == '1' && day.number == '16' && prize2 === '1' && day.status === 'half_frozen'" class="present2"><img src="img/home/present_yellow.png" style="width: 23px;"></a>
                        <a ng-if="day.bonus_day == '1' && day.number == '16' && prize2 === '1' && day.status === 'full'" class="present2"><img src="img/home/present_green.png" style="width: 25px;"></a>
                        <a ng-if="day.bonus_day == '1' && day.number == '16' && prize2 === '1' && day.status === 'future'" ng-click="showPresent(2)" class="present2"><img src="img/home/present_grey.png" style="width: 25px;"></a>

                        <!--Prize 2 - no-->

                        <a ng-if="day.bonus_day == '1' && day.number == '16' && prize2 === '0' && day.status === 'empty'" ng-click="goToDay(day.date, '1')" class="img{{day.number}}"><img src="img/home/red.png" style="width: 25px;"></a>
                        <a ng-if="day.bonus_day == '1' && day.number == '16' && prize2 === '0' && day.status === 'half'" ng-click="goToDay(day.date, '2')" class="img{{day.number}}"><img src="img/home/yellow.png" style="width: 23px;"></a>
                        <a ng-if="day.bonus_day == '1' && day.number == '16' && prize2 === '0' && day.status === 'half_frozen'" class="img{{day.number}}"><img src="img/home/yellow.png" style="width: 23px;"></a>
                        <a ng-if="day.bonus_day == '1' && day.number == '16' && prize2 === '0' && day.status === 'full'" class="img{{day.number}}"><img src="img/home/green.png" style="width: 25px;"></a>
                        <a ng-if="day.bonus_day == '1' && day.number == '16' && prize2 === '0' && day.status === 'future'" class="img{{day.number}}"><img src="img/home/grey.png" style="width: 25px;"></a>

                    </span>

                    <span class="points">
                        <span>{{points}}</span>
                        <div>נקודות שצברת החודש</div>
                    </span>

                    <span class="time">השאלות הבאות בעוד {{timeToNext}} שעות</span>

                    <span class="info"><img src="img/home/i1.png" width="200"></span>

                    <span class="arrow"><img src="img/home/arrow.png" style="width: 35px;"></span>
                    <span class="treasure"><img src="img/home/treasure.png" style="width: 65px;" ui-sref="app.month_prize"></span>

                    <span class="button1"><img src="img/home/1.png" style="width: 55px;" ui-sref="app.enter_test"></span>
                    <span class="button2"><img src="img/home/2.png" style="width: 90px;" ui-sref="app.daily_questions"></span>
                    <span class="button3"><img src="img/home/3.png" style="width: 55px;" ui-sref="app.month_prize"></span>

                </div>

            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="homeFooter">
        <div class="homeFooterButton" ui-sref="app.catalog"><img src="img/home/f1.png" style="width: 80%;"></div>
        <div class="homeFooterButton" ui-sref="app.leaderboard"><img src="img/home/f2.png" style="width: 80%;"></div>
        <div class="homeFooterButton" ui-sref="app.information"><img src="img/home/f3.png" style="width: 80%;"></div>
        <div class="homeFooterButton" ui-sref="app.personal"><img src="img/home/f4.png" style="width: 80%;"></div>
        <div class="homeFooterButton" ui-sref="app.question_to_specialist"><img src="img/home/f5.png" style="width: 80%;"></div>
    </ion-footer-bar>
</ion-view>

