<ion-view hide-nav-bar="true">

    <ion-content class="scrollDarkerColor has-footer rtl">

        <img src="img/backgrounds/small_back.jpg" style="height: 30vh; width: 100%;">

        <div class="sideMenuHome">
            <img src="img/new/home_icon.png" width="40" ui-sref="app.home">
            <div class="sideMenuHomeText">עמוד<br>הבית</div>
        </div>

        <div class="leaderboardContent pos-rel" style="padding: 10px;">

            <div class="row100">

                <div class="leaderboardRight">

                    <div class="leaderboardSquare0">
                        <img src="img/new/share.png" style="width: 100%;" ng-click="share()">
                    </div>

                    <div class="leaderboardSquare1">
                        <div>המיקום שלי</div>
                        <div class="leaderboardNumbers">{{rank}}</div>
                    </div>

                    <div class="leaderboardSquare2">
                        <div>החודש עניתי</div>
                        <div>נכון על</div>
                        <div class="leaderboardNumbers">{{correctAnswers}}</div>
                        <div>שאלות</div>
                    </div>

                    <div class="leaderboardSquare3">
                        <div>הניקוד שלי</div>
                        <div class="leaderboardNumbers">{{monthPoints | number : 2}}</div>
                    </div>

                </div>

                <div class="leaderboardLeft">
                    <img src="img/backgrounds/leaderboard_background.png" style="width: 100%; height: 65vh;">
                    <div class="leaderboardLines">

                        <div ng-repeat="leader in leaders">

                            <div class="leaderboardLine">
                                <div class="leaderboardLineLeft"><span>{{leader.sum | number : 2}}</span></div>
                                <div class="leaderboardLineRight">
                                    <span>{{$index + 1}}</span>
                                    <span>{{leader.firstname}} {{leader.lastname}}</span>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="leaderboardFooter rtl">
        <div class="leaderboardFooterButton" ui-sref="app.home">
            <img src="img/new/back.png" style="width: 100%;">
        </div>
    </ion-footer-bar>
</ion-view>