<div style="width:100%;" align="center">
    <div class="modal image-modal transparent" ng-click="imageModal.hide()" style="margin-top:20px;">

        <ion-scroll zooming="true" overflow-scroll="false" direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">

            <img ng-src="{{imageHost}}/{{itemImage}}" style="width:100%;">

        </ion-scroll>

    </div>
</div>