<ion-view style="background-color: transparent;" ng-click="monthDriverPopup.close()">

    <div class="pos-rel">

        <img src="img/popups/popup.png" style="width: 100%;">

        <div class="monthDriverPopupName">{{name}}</div>

        <div class="monthDriverPopupButton" ui-sref="app.home">
            <img src="img/new/home_round.png" width="80">
        </div>

    </div>

</ion-view>
