<ion-view style="background-color: transparent;" ng-click="prizePopup.close()">

    <div class="pos-rel">

        <img src="{{prizePopupImg}}" style="width: 80%;">

        <div class="prizePopupButton" ng-click="prizePopup.close()">
            <img src="img/new/home_round.png" width="80">
        </div>

    </div>

</ion-view>
