<ion-view style="background-color: transparent;" ng-click="noAnswer.close()">

    <div class="pos-rel">

        <img src="img/popups/answer.png" style="width: 80%;">

        <div class="noAnswerPopupButton">
            <img src="img/new/understand.png" style="width: 50%;">
        </div>

    </div>

</ion-view>
