<ion-view hide-nav-bar="true">
    <ion-content class="has-footer scrollLightColor rtl" style="bottom: 15vh;">

        <img src="img/backgrounds/header.png" style="height: 30vh; width: 100%;">

        <div class="header">שאלה יומית מתאריך {{questionDate}}</div>

        <div class="questionsContent">

            <div class="row100">

                <div class="questionsLogo" ng-show="question.from_transportation == '1'">
                    <img src="img/QA/logo-misrad.png" style="width: 50%;">
                </div>

                <div class="questionsImage" ng-show="question.question_image != ''">
                    <img src="{{imageHost}}/{{question.question_image}}">
                </div>

                <div class="questionsImage" ng-show="question.question_youtube != ''">
                    <youtube-video video-url="question.question_youtube" player-width="'100%'" style="height:150px !important;"></youtube-video>
                </div>

            </div>

            <div class="questionsQuestion">{{question.question}}</div>

            <div class="row100">
                <div class="questionsVariantRight" ng-click="selectAnswer('1')">
                    <div ng-if="allAnswers[0] != null" ng-class="{questionsVariantRightText: !isAnswerSelected(1), questionsVariantRightSelected: isAnswerSelected(1)}">{{allAnswers[0]}}</div>
                    <div ng-if="allAnswers[0] == null" class="questionsVariantEmpty"></div>
                </div>
                <div class="questionsVariantLeft" ng-click="selectAnswer('2')">
                    <div ng-if="allAnswers[1] != null" ng-class="{questionsVariantRightText: !isAnswerSelected(2), questionsVariantRightSelected: isAnswerSelected(2)}">{{allAnswers[1]}}</div>
                    <div ng-if="allAnswers[1] == null" class="questionsVariantEmpty"></div>
                </div>
            </div>

            <div class="row100" align="center">
                <div class="questionsVariantRight" ng-click="selectAnswer('3')">
                    <div ng-if="allAnswers[2] != null" ng-class="{questionsVariantRightText: !isAnswerSelected(3), questionsVariantRightSelected: isAnswerSelected(3)}">{{allAnswers[2]}}</div>
                    <div ng-if="allAnswers[2] == null" class="questionsVariantEmpty"></div>
                </div>
                <div class="questionsVariantLeft" ng-click="selectAnswer('4')">
                    <div ng-if="allAnswers[3] != null" ng-class="{questionsVariantRightText: !isAnswerSelected(4), questionsVariantRightSelected: isAnswerSelected(4)}">{{allAnswers[3]}}</div>
                    <div ng-if="allAnswers[3] == null" class="questionsVariantEmpty"></div>
                </div>
            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="questionsFooter rtl">
        <div class="questionsFooterButton"><img src="img/QA/transparent.png" style="width: 70%;"></div>
        <div class="questionsFooterButton" ng-show="twice && timer" ng-click="eraseAnswers(2)"><img src="img/QA/50_50.png" style="width: 70%;"></div>
        <div class="questionsFooterButton" ng-show="twice && !timer"><img src="img/QA/50_50.png" style="width: 70%;"></div>
        <div class="questionsFooterButton" ng-show="!twice"><img src="img/QA/50_50_no.png" style="width: 70%;"></div>
        <div class="questionsFooterCenterButton">
            <img src="img/QA/wheel.png" style="height: 8vh;">
            <p class="questionsFooterText">השימוש בגלגל הצלה הוא חד פעמי ביום</p>
        </div>
        <div class="questionsFooterButton" ng-show="once && timer" ng-click="eraseAnswers(1)"><img src="img/QA/1_4.png" style="width: 70%;"></div>
        <div class="questionsFooterButton" ng-show="once && !timer"><img src="img/QA/1_4.png" style="width: 70%;"></div>
        <div class="questionsFooterButton" ng-show="!once"><img src="img/QA/1_4_no.png" style="width: 70%;"></div>
        <div class="questionsFooterButton questionsFooterButtonPoints">
            <img src="img/QA/timer.png" style="width: 70%;">
            <div>{{points}}</div>
        </div>
    </ion-footer-bar>
</ion-view>
