<ion-view hide-nav-bar="true">

    <ion-content class="scrollLightColor rtl">

        <img src="img/backgrounds/header.png" style="height: 30vh; width: 100%;">

        <div class="header">תוצאות תירגול</div>

        <div class="centerButton"><img src="img/new/book.png" width="100"></div>

        <div class="scrollContent textCenter pos-rel">

            <div class="testResultsCount">

                <div class="row100">
                    <div class="testResultsSide" align="left">{{testRightAnswers}}</div>
                    <div class="testResultsMiddle">
                        <div class="testResultsTitle">ענית נכון על</div>
                        <div class="testResultsTitle" style="font-weight: bold">מתוך</div>
                        <div class="testResultsTitle">תרגילים</div>
                    </div>
                    <div class="testResultsSide" align="right">40</div>
                </div>

            </div>

            <div class="squareBanner">

                <div ng-if="banners.cube_test_results.TipliBannerType == '1'">
                    <div ng-if="isIOS && banners.cube_test_results.TipliBannerType == '1'" data-ng-dfp-ad="testResultsCubeIos"></div>
                    <div ng-if="!isIOS && banners.cube_test_results.TipliBannerType == '1'" data-ng-dfp-ad="testResultsCubeAndroid"></div>
                </div>

                <div ng-if="banners.cube_test_results.TipliBannerType == '0'">

                    <div ng-if="banners.cube_test_results.banners.length == 1">
                        <img src="{{imageHost}}/{{banners.cube_test_results.banners[0].image}}" style="width: 100%;">
                    </div>

                    <div ng-if="banners.cube_test_results.banners.length > 1" style="width: 100%; height: 100%;">
                        <ion-slides options="options" slider="data.slider">
                            <ion-slide-page ng-repeat="banner in banners.cube_test_results.banners">
                                <div><img src="{{imageHost}}/{{banner.image}}"></div>
                            </ion-slide-page>
                        </ion-slides>
                    </div>

                </div>

            </div>

            <img src="img/new/back6.png" style="width: 70%;" ui-sref="app.home">

            <img src="img/new/continue_test.png" style="width: 70%;" ui-sref="app.enter_test">

        </div>

    </ion-content>
</ion-view>