<ion-view hide-nav-bar="true">
    <ion-content class="has-footer rtl scrollLightColor" style="bottom: 15vh;">

        <img src="img/backgrounds/header.png" style="height: 30vh; width: 100%;">

        <div class="questionsContent">

            <div class="row100">

                <div class="questionsImage" ng-show="answers[questionId].question.explain_image != ''">
                    <img src="{{imageHost}}/{{answers[questionId].question.explain_image}}">
                </div>

                <div class="questionsImage" ng-show="answers[questionId].question.explain_youtube != ''">
                    <youtube-video video-url="answers[questionId].question.explain_youtube" player-width="'100%'" style="height:150px !important;"></youtube-video>
                </div>

            </div>

            <div class="answersCheckAnswer" ng-show="isAnswerCorrect == true">התשובה הנכונה</div>
            <div class="answersCheckAnswerWrong" ng-show="isAnswerCorrect == false">טעית, התשובה הנכונה היא</div>

            <div class="questionsQuestion">{{answers[questionId].question.question}}</div>

            <div style="margin: 10px 0;">
                <div style="font-weight: bold;">התשובה הנכונה :</div>
                {{rightAnswer}}
            </div>

            <div class="answersExplanation">
                <div style="font-weight: bold;">הסבר :</div>
                {{answers[questionId].question.explaination}}
            </div>
        </div>


    </ion-content>
    <ion-footer-bar class="answersFooter rtl">
        <div class="answersFooterButton" ng-click="nextQuestion()" ng-if="answers.length < 5"><img src="img/QA/continue.png" style="width: 70%;"></div>
        <div class="answersFooterButton" ng-click="goToResults()" ng-show="answers.length == 5"><img src="img/QA/continue.png" style="width: 70%;"></div>
        <div class="answersFooterButton"><img src="img/QA/q5.png" style="width: 70%;"></div>
        <div class="answersFooterCenter"><span>ענית</span> <span style="font-size: 180%;">מתוך</span></div>
        <div class="answersFooterButton">
            <img src="img/QA/q1.png" style="width: 70%;" ng-if="questionNumber == 1">
            <img src="img/QA/q2.png" style="width: 70%;" ng-if="questionNumber == 2">
            <img src="img/QA/q3.png" style="width: 70%;" ng-if="questionNumber == 3">
            <img src="img/QA/q4.png" style="width: 70%;" ng-if="questionNumber == 4">
            <img src="img/QA/q5.png" style="width: 70%;" ng-if="questionNumber == 5">
        </div>
        <div class="answersFooterFirst">
            <div ng-show="isAnswerCorrect == true"><img src="img/QA/answer_correct.png" style="height:15vh" /></div>
            <div ng-show="isAnswerCorrect == false"><img src="img/QA/answer_incorrect.png" style="height:15vh" /></div>
        </div>
    </ion-footer-bar>
</ion-view>
