<ion-view view-title="Article" hide-nav-bar="true">
    <ion-content class="pointsContent">

        <img src="img/backgrounds/header_small.png" style="width: 100%; height: 17vh;">

        <div class="sideMenuHome">
            <i class="icon ion-home" style="font-size: 40px; color: white;" ui-sref="app.home"></i>
            <div class="sideMenuHomeText">עמוד<br>הבית</div>
        </div>

        <div class="articleTitle">

            <div ui-sref="app.information" class="articleTitleLeft" align="left">
                <div>
                    <img src="img/old/info_back_button.png" style="width:100%"/>
                </div>
            </div>

            <div class="articleTitleRight">
                <div class="articleCategoryIcon">
                    <img ng-src="{{infoCategoryIcon}}" style="height: 45px;">
                </div>
                <div class="articleCategoryText">{{infoCategoryName}}</div>
            </div>

        </div>

        <div class="yellowRow"></div>
        
        <div style="text-align: right;">

            <div ng-repeat="item in content">

                <div class="articleYellowRow rtl">{{item.title}}</div>

				<div class="articleItem" ng-show="item.image != ''" ng-click="showImageModal(item.image)">
                    <img src="{{imageHost}}/{{item.image}}" style="width: 100%;">

                    <div class="articleDescription rtl" ng-bind-html="item.desc"></div>
                </div>

                <div class="articleDescWithoutImage rtl" ng-show="item.image == ''" ng-bind-html="item.desc"></div>

                <div class="articleButtons">
                    <a href="mailto:{{item.email}}" ng-show="item.email != ''" >
                        <img src="img/old/info_i3.png" style="width:33px;" />
                    </a>
                    <a href="tel:{{item.phone}}" ng-show="item.phone != ''">
                        <img src="img/old/info_i2.png" style="width:33px;" />
                    </a>
                    <a ng-show="item.youtube != ''" ng-click="showVideo(item.youtube)" >
                        <img src="img/old/info_i4.png" style="width:33px;" />
                    </a>
                    <a ng-show="item.landingpage != ''" ng-click="goToPage(item.landingpage)">
                        <img src="img/old/info_i1.png" style="width:33px;" />
                    </a>
                </div>


            </div>

        </div>

    </ion-content>

    <div style="position: absolute; bottom: 0px; right:10px; width: 15%; margin-right:10px; margin-bottom:10px;"
         ng-click="scrollTopArticle()" align="right">
        <img src="img/old/scroll_to_top.png" style="width:100%" >
    </div>
</ion-view>
