<ion-view hide-nav-bar="true">
    <ion-content style="background-color: #F6D400">

        <img src="img/backgrounds/header_small.png" style="width: 100%; height: 17vh;">

        <div class="sideMenuHome">
            <img src="img/new/home_icon.png" width="40" ui-sref="app.home">
            <div class="sideMenuHomeText">עמוד<br>הבית</div>
        </div>

        <div class="catalogTitleName">
            <div class="catalogMenuIcon" align="center" ng-click="toggleRightSideMenu()">
                <img src="img/old/white_menu_icon.png" style="height:25px; margin-top: 5px"/>
            </div>
            <div class="catalogTitle">
                <div class="pointsHeaderCatalog" ng-show="categoryNumber == 0">בחר קטגוריה</div>
                <div class="pointsHeaderCatalog" ng-show="categoryNumber != 0">{{categoryName}}</div>
            </div>
        </div>

        <div class="button-bar">
            <a class="button" style="background-color:#FFED7F" ng-class="{activeTab : selection == 'favorites'}" ng-click="chooseTab('favorites')">מועדפים</a>
            <a class="button" style="background-color:#FFED7F" ng-class="{activeTab : selection == 'catalog'}" ng-click="chooseTab('catalog')">הצ'ופרים שלי</a>
            <a class="button" style="background-color:#FFED7F" ng-class="{activeTab : selection == 'location'}" ng-click="chooseTab('location')">מה באזור</a>
        </div>

        <div ng-switch="selection" class="textCenter">

            <div ng-switch-when="location">

                <div ng-show="isLocationEnabled == false">
                    <button class="button button-assertive" ng-click="turnOnGPS()" style="margin-top: 40px;">נא הפעל GPS על
                        מנת לקבל את ההטבות הקרובות
                    </button>
                </div>

                <div ng-show="isLocationEnabled == true && closeDeals.length == 0" style="margin-top: 40px; font-size: 20px;">אין דילים קרובים אלייך</div>

                <div ng-show="isLocationEnabled == true && closeDeals.length != 0" ng-repeat="deal in closeDeals track by $index">

                    <div class="catalogDeal" ng-click="openItem(deal)">

                        <div class="catalogDealTitle">

                            <div class="catalogDealTitleRight">{{deal.title}}</div>

                            <div class="catalogDealTitleLeft" ng-show="!isFavorite(deal.index)" ng-click="makeFavorite(deal.index, deal.title); $event.stopPropagation();">
                                <img src="img/old/fav.png" style="width: 100%;">
                            </div>

                            <div class="catalogDealTitleLeft" ng-show="isFavorite(deal.index)" ng-click="deleteFavorite(deal.index, deal.title); $event.stopPropagation();">
                                <img src="img/old/fav1.png" style="width: 100%;">
                            </div>

                        </div>

                        <img src="{{imageHost}}/{{deal.image}}" style="width: 100%;">

                        <div class="ThumbDealInfo">
                            <div class="ThumbDealInfoRight">
                                <div class="friendPriceText">מחיר חבר</div>
                                <div class="discountRegularPriceThumb">{{deal.member_price}} <span> 	&#x20aa;</span></div>
                            </div>
                            <div class="ThumbDealInfoLeft">
                                <img src="{{imageHost}}/{{deal.supplier_logo}}" ng-show="deal.supplier_logo != ''" style="width:100%;"/>
                                <img src="img/old/empty_logo.png" ng-show="deal.supplier_logo == ''" style="width:100%;"/>
                            </div>
                        </div>

                    </div>

                </div>

            </div>


            <div ng-switch-when="catalog">

                <div ng-show="categoryNumber == 0" style="margin-top: 10px;">

                    <div ng-repeat="category in categories" class="catalogCategory" ng-click="setCategory(category.index, category.title)">

                        <img src={{imageHost}}/{{category.image}}>
                        <div>{{category.title}}</div>

                    </div>

                </div>

                <div ng-show="categoryNumber != 0" ng-repeat="deal in deals | chooseCategory">

                    <div class="catalogDeal" ng-click="openItem(deal)">

                        <div class="catalogDealTitle">

                            <div class="catalogDealTitleRight">{{deal.title}}</div>

                            <div class="catalogDealTitleLeft" ng-show="!isFavorite(deal.index)" ng-click="makeFavorite(deal.index, deal.title); $event.stopPropagation();">
                                <img src="img/old/fav.png" style="width: 100%;">
                            </div>

                            <div class="catalogDealTitleLeft" ng-show="isFavorite(deal.index)" ng-click="deleteFavorite(deal.index, deal.title); $event.stopPropagation();">
                                <img src="img/old/fav1.png" style="width: 100%;">
                            </div>

                        </div>

                        <img src="{{imageHost}}/{{deal.image}}" style="width: 100%;">

                        <div class="ThumbDealInfo">
                            <div class="ThumbDealInfoRight">
                                <div class="friendPriceText">מחיר חבר</div>
                                <div class="discountRegularPriceThumb">{{deal.member_price}} <span> 	&#x20aa;</span></div>
                            </div>
                            <div class="ThumbDealInfoLeft">
                                <img src="{{imageHost}}/{{deal.supplier_logo}}" ng-show="deal.supplier_logo != ''" style="width:100%;"/>
                                <img src="img/old/empty_logo.png" ng-show="deal.supplier_logo == ''" style="width:100%;"/>
                            </div>
                        </div>

                    </div>

                </div>

            </div>


            <div ng-switch-when="favorites">

                <div ng-show="favoriteDeals == ''">אין תוצאות</div>

                <div ng-repeat="fav in favoriteDeals">

                    <div class="catalogDeal" ng-click="openItem(fav)">

                        <div class="catalogDealTitle">

                            <div class="catalogDealTitleRight">{{fav.title}}</div>

                            <div class="catalogDealTitleLeft" ng-show="!isFavorite(fav.index)" ng-click="makeFavorite(fav.index, fav.title); $event.stopPropagation();">
                                <img src="img/old/fav.png" style="width: 100%;">
                            </div>

                            <div class="catalogDealTitleLeft" ng-show="isFavorite(fav.index)" ng-click="deleteFavorite(fav.index, fav.title); $event.stopPropagation();">
                                <img src="img/old/fav1.png" style="width: 100%;">
                            </div>

                        </div>

                        <img src="{{imageHost}}/{{fav.image}}" style="width: 100%;">

                        <div class="ThumbDealInfo">
                            <div class="ThumbDealInfoRight">
                                <div class="friendPriceText">מחיר חבר</div>
                                <div class="discountRegularPriceThumb">{{fav.member_price}} <span> 	&#x20aa;</span></div>

                            </div>
                            <div class="ThumbDealInfoLeft">
                                <img src="{{imageHost}}/{{fav.supplier_logo}}" ng-show="fav.supplier_logo != ''" style="width:100%;"/>
                                <img src="img/old/empty_logo.png" ng-show="fav.supplier_logo == ''" style="width:100%;"/>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </ion-content>

    <!--Scroll to top button-->

    <div style="position: absolute; bottom: 0px; right:10px; width: 15%; margin-right:10px; margin-bottom:10px;" ng-click="scrollTop()" align="right" ng-hide="selection == 'catalog' && categoryNumber == 0">
        <img src="img/old/scroll_to_top.png" style="width:100%">
    </div>
</ion-view>
