<ion-view hide-nav-bar="true">
    <ion-content>

        <img src="img/backgrounds/header_small.png" style="width: 100%; height: 17vh;">

        <div class="sideMenuHome">
            <img src="img/new/home_icon.png" width="40" ui-sref="app.home">
            <div class="sideMenuHomeText">עמוד<br>הבית</div>
        </div>

        <div class="header">הצופ'ר היומי</div>

        <div ng-show="noTodayDeal == true" class="noTodayDeal">לא קיים דיל יומי</div>

        <div ng-show="noTodayDeal == false">

            <!--if iframe-->

            <div ng-show="todayDeal.showiframe == '1'" style="width: 100%; height: 100vh; position: relative">
                <iframe ng-src="{{iframeLink}}" style="position:absolute; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>
            </div>

            <!--if usual deal-->

            <div ng-show="todayDeal.showiframe == '0'">

                <div class="discountTitle"> {{todayDeal.title}}</div>

                <div class="discountInfo">

                    <div class="discountInfoLeft">

                        <img src="{{imageHost}}/{{todayDeal.supplier_logo}}" ng-show="todayDeal.supplier_logo != ''" style="width:100%;" />
                        <img src="img/old/empty_logo.png" ng-show="todayDeal.supplier_logo == ''" style="width:100%;" />

                        <div class="discountRegularPriceText" ng-show="todayDeal.regular_price != ''">מחיר רגיל</div>
                        <div class="discountRegularPriceBlock" ng-show="todayDeal.regular_price != ''">
                            <img src="img/old/teaser_x.png" style="width:100%" />
                        </div>
                        <div class="discountRegularPrice" ng-show="todayDeal.regular_price != ''">{{todayDeal.regular_price}} <span> 	&#8362;</span></div>

                        <div class="discountNewPriceText" ng-show="todayDeal.member_price != ''">מחיר חבר</div>
                        <div class="discountRegularPrice" ng-show="todayDeal.member_price != ''">{{todayDeal.member_price}} <span> 	&#x20aa;</span></div>

                    </div>

                    <div class="discountInfoRight" style="background-color:white">

                        <img src="{{imageHost}}/{{todayDeal.image}}" style="width:100%;" ng-show="todayDeal.imageSlider.length == 0"/>

                        <div ng-show="todayDeal.imageSlider.length != 0">
                            <ion-slides options="options" slider="data.slider" style="width: 100%; height: 260px;">
                                <ion-slide-page ng-repeat="pic in todayDeal.imageSlider">
                                    <div>
                                        <img src="{{imageHost}}/{{pic}}">
                                    </div>
                                </ion-slide-page>
                            </ion-slides>
                        </div>

                    </div>

                </div>

                <div class="discountInfo rtl">
                    <div class="discountCodeRightNew" ng-show="todayDeal.dealgivenby == '1'">
                        <img src="img/old/get_deal.png" style="width: 100%;" ng-click="goToLink(todayDeal.codelink, todayDeal.title)">
                    </div>
                    <div class="discountCodeRight" ng-show="todayDeal.dealgivenby == '0'">{{todayDeal.codelink}}</div>
                    <div class="discountCodeLeft" ng-click="makeFavorite(todayDeal.index, todayDeal.title)" ng-show="!isFavorite(todayDeal.index)">
                        <img src="img/old/favorite.png" style="width: 100%;">
                    </div>
                    <div class="discountCodeLeftClicked" ng-show="isFavorite(todayDeal.index)">נשמר במועדפים בקטלוג</div>
                </div>

                <div class="discountInfo rtl">

                    <div class="greyRow">פרטי ההטבה</div>
                    <div class="mh80" ng-bind-html="todayDeal.desc"></div>
                    <div class="greyRow">תנאים כלליים</div>
                    <div class="mh80" ng-bind-html="todayDeal.terms"></div>
                    <div class="greyRow" ng-show="todayDeal.youtube != ''">סרטון</div>
                    <div ng-show="todayDeal.youtube != ''">
                        <youtube-video video-url="todayDeal.youtube" player-width="'100%'" style="height:200px !important" ></youtube-video>
                    </div>

                    <div class="greyRow" ng-show="todayDeal.brances.length > 0">כתובות הסניפים</div>
                    <div class="mh80" ng-show="todayDeal.brances.length > 0">
                        <div ng-repeat="branch in todayDeal.brances">
                            <p>{{branch[0].address}}</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </ion-content>
</ion-view>
