<ion-view hide-nav-bar="true">

    <!--<ion-content class="smallBackground hasBannerFooter rtl">-->
    <ion-content class="scrollDarkerColor hasBannerFooter rtl">

        <img src="img/backgrounds/small_back.jpg" style="height: 25vh; width: 100%;">

        <div class="interAllContent textCenter pos-rel">

            <!--<div class="interTitle" style="font-size: 200%; font-weight: bold;">שאלה מספר {{questionNumber}}</div>-->
            <!--<div class="interTitle" style=" top: 25vh;">שאלה זאת מקנה לך מקסימום</div>-->

            <div ng-if="questionNumber == 1" class="interImage1">&nbsp;</div>
            <div ng-if="questionNumber == 2" class="interImage2">&nbsp;</div>
            <div ng-if="questionNumber == 3" class="interImage3">&nbsp;</div>
            <div ng-if="questionNumber == 4" class="interImage4">&nbsp;</div>
            <div ng-if="questionNumber == 5" class="interImage5">&nbsp;</div>


            <div class="interText">בלחיצה על התשובה יעצר הזמן ויקבע הניקוד</div>
            <div class="interText">תשובה שגויה לא תקנה לך נקודות</div>

            <div class="squareBanner">

                <!--inter1-->

                <div ng-if="questionNumber == 1">

                    <div ng-if="banners.cube1.TipliBannerType == '1'">
                        <div ng-if="isIOS && questionNumber == 1" data-ng-dfp-ad="inter1CubeIos"></div>
                        <div ng-if="!isIOS && questionNumber == 1" data-ng-dfp-ad="inter1CubeAndroid"></div>
                    </div>

                    <div ng-if="banners.cube1.TipliBannerType == '0'">

                        <div ng-if="banners.cube1.banners.length == 1">
                            <img src="{{imageHost}}/{{banners.cube1.banners[0].image}}" style="width: 100%;">
                        </div>

                        <div ng-if="banners.cube1.banners.length > 1" style="width: 100%; height: 100%;">
                            <ion-slides options="options" slider="data.slider">
                                <ion-slide-page ng-repeat="banner in banners.cube1.banners">
                                    <div><img src="{{imageHost}}/{{banner.image}}"></div>
                                </ion-slide-page>
                            </ion-slides>
                        </div>

                    </div>

                </div>

                <!--inter2-->

                <div ng-if="questionNumber == 2">

                    <div ng-if="banners.cube2.TipliBannerType == '1'">
                        <div ng-if="isIOS && questionNumber == 2" data-ng-dfp-ad="inter2CubeIos"></div>
                        <div ng-if="!isIOS && questionNumber == 2" data-ng-dfp-ad="inter2CubeAndroid"></div>
                    </div>

                    <div ng-if="banners.cube2.TipliBannerType == '0'">

                        <div ng-if="banners.cube2.banners.length == 1">
                            <img src="{{imageHost}}/{{banners.cube2.banners[0].image}}" style="width: 100%;">
                        </div>

                        <div ng-if="banners.cube2.banners.length > 1" style="width: 100%; height: 100%;">
                            <ion-slides options="options" slider="data.slider">
                                <ion-slide-page ng-repeat="banner in banners.cube2.banners">
                                    <div><img src="{{imageHost}}/{{banner.image}}"></div>
                                </ion-slide-page>
                            </ion-slides>
                        </div>

                    </div>

                </div>

                <!--inter3-->

                <div ng-if="questionNumber == 3">

                    <div ng-if="banners.cube3.TipliBannerType == '1'">
                        <div ng-if="isIOS && questionNumber == 3" data-ng-dfp-ad="inter3CubeIos"></div>
                        <div ng-if="!isIOS && questionNumber == 3" data-ng-dfp-ad="inter3CubeAndroid"></div>
                    </div>

                    <div ng-if="banners.cube3.TipliBannerType == '0'">

                        <div ng-if="banners.cube3.banners.length == 1">
                            <img src="{{imageHost}}/{{banners.cube3.banners[0].image}}" style="width: 100%;">
                        </div>

                        <div ng-if="banners.cube3.banners.length > 1" style="width: 100%; height: 100%;">
                            <ion-slides options="options" slider="data.slider">
                                <ion-slide-page ng-repeat="banner in banners.cube3.banners">
                                    <div><img src="{{imageHost}}/{{banner.image}}"></div>
                                </ion-slide-page>
                            </ion-slides>
                        </div>

                    </div>

                </div>

                <!--inter1-->

                <div ng-if="questionNumber == 4">

                    <div ng-if="banners.cube4.TipliBannerType == '1'">
                        <div ng-if="isIOS && questionNumber == 4" data-ng-dfp-ad="inter4CubeIos"></div>
                        <div ng-if="!isIOS && questionNumber == 4" data-ng-dfp-ad="inter4CubeAndroid"></div>
                    </div>

                    <div ng-if="banners.cube4.TipliBannerType == '0'">

                        <div ng-if="banners.cube4.banners.length == 1">
                            <img src="{{imageHost}}/{{banners.cube4.banners[0].image}}" style="width: 100%;">
                        </div>

                        <div ng-if="banners.cube4.banners.length > 1" style="width: 100%; height: 100%;">
                            <ion-slides options="options" slider="data.slider">
                                <ion-slide-page ng-repeat="banner in banners.cube4.banners">
                                    <div><img src="{{imageHost}}/{{banner.image}}"></div>
                                </ion-slide-page>
                            </ion-slides>
                        </div>

                    </div>

                </div>

                <!--inter1-->

                <div ng-if="questionNumber == 5">

                    <div ng-if="banners.cube5.TipliBannerType == '1'">
                        <div ng-if="isIOS && questionNumber == 5" data-ng-dfp-ad="inter5CubeIos"></div>
                        <div ng-if="!isIOS && questionNumber == 5" data-ng-dfp-ad="inter5CubeAndroid"></div>
                    </div>

                    <div ng-if="banners.cube5.TipliBannerType == '0'">

                        <div ng-if="banners.cube5.banners.length == 1">
                            <img src="{{imageHost}}/{{banners.cube5.banners[0].image}}" style="width: 100%;">
                        </div>

                        <div ng-if="banners.cube5.banners.length > 1" style="width: 100%; height: 100%;">
                            <ion-slides options="options" slider="data.slider">
                                <ion-slide-page ng-repeat="banner in banners.cube5.banners">
                                    <div><img src="{{imageHost}}/{{banner.image}}"></div>
                                </ion-slide-page>
                            </ion-slides>
                        </div>

                    </div>

                </div>

            </div>

            <div class="interButton" ui-sref="app.questions({date: questionDate, questionId : questionId})">
                <span>לשאלה</span>
            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="bannerFooter rtl">

        <!--inter1-->

        <div ng-if="questionNumber == 1">

            <div ng-if="banners.banner1.TipliBannerType == '1'">
                <div ng-if="isIOS && questionNumber == 1" data-ng-dfp-ad="inter1Ios"></div>
                <div ng-if="!isIOS && questionNumber == 1" data-ng-dfp-ad="inter1Android"></div>
            </div>

            <div ng-if="banners.banner1.TipliBannerType == '0'">

                <div ng-if="banners.banner1.banners.length == 1">
                    <img src="{{imageHost}}/{{banners.banner1.banners[0].image}}" style="width: 100%;">
                </div>

                <div ng-if="banners.banner1.banners.length > 1" style="width: 100%; height: 100%;">
                    <ion-slides options="options" slider="data.slider">
                        <ion-slide-page ng-repeat="banner in banners.banner1.banners">
                            <div><img src="{{imageHost}}/{{banner.image}}"></div>
                        </ion-slide-page>
                    </ion-slides>
                </div>

            </div>

        </div>

        <!--inter2-->

        <div ng-if="questionNumber == 2">

            <div ng-if="banners.banner2.TipliBannerType == '1'">
                <div ng-if="isIOS && questionNumber == 2" data-ng-dfp-ad="inter2Ios"></div>
                <div ng-if="!isIOS && questionNumber == 2" data-ng-dfp-ad="inter2Android"></div>
            </div>

            <div ng-if="banners.banner2.TipliBannerType == '0'">

                <div ng-if="banners.banner2.banners.length == 1">
                    <img src="{{imageHost}}/{{banners.banner2.banners[0].image}}" style="width: 100%;">
                </div>

                <div ng-if="banners.banner2.banners.length > 1" style="width: 100%; height: 100%;">
                    <ion-slides options="options" slider="data.slider">
                        <ion-slide-page ng-repeat="banner in banners.banner2.banners">
                            <div><img src="{{imageHost}}/{{banner.image}}"></div>
                        </ion-slide-page>
                    </ion-slides>
                </div>

            </div>

        </div>

        <!--inter3-->

        <div ng-if="questionNumber == 3">

            <div ng-if="banners.banner3.TipliBannerType == '1'">
                <div ng-if="isIOS && questionNumber == 3" data-ng-dfp-ad="inter3Ios"></div>
                <div ng-if="!isIOS && questionNumber == 3" data-ng-dfp-ad="inter3Android"></div>
            </div>

            <div ng-if="banners.banner3.TipliBannerType == '0'">

                <div ng-if="banners.banner3.banners.length == 1">
                    <img src="{{imageHost}}/{{banners.banner3.banners[0].image}}" style="width: 100%;">
                </div>

                <div ng-if="banners.banner3.banners.length > 1" style="width: 100%; height: 100%;">
                    <ion-slides options="options" slider="data.slider">
                        <ion-slide-page ng-repeat="banner in banners.banner3.banners">
                            <div><img src="{{imageHost}}/{{banner.image}}"></div>
                        </ion-slide-page>
                    </ion-slides>
                </div>

            </div>

        </div>

        <!--inter4-->

        <div ng-if="questionNumber == 4">

            <div ng-if="banners.banner4.TipliBannerType == '1'">
                <div ng-if="isIOS && questionNumber == 4" data-ng-dfp-ad="inter4Ios"></div>
                <div ng-if="!isIOS && questionNumber == 4" data-ng-dfp-ad="inter4Android"></div>
            </div>

            <div ng-if="banners.banner4.TipliBannerType == '0'">

                <div ng-if="banners.banner4.banners.length == 1">
                    <img src="{{imageHost}}/{{banners.banner4.banners[0].image}}" style="width: 100%;">
                </div>

                <div ng-if="banners.banner4.banners.length > 1" style="width: 100%; height: 100%;">
                    <ion-slides options="options" slider="data.slider">
                        <ion-slide-page ng-repeat="banner in banners.banner4.banners">
                            <div><img src="{{imageHost}}/{{banner.image}}"></div>
                        </ion-slide-page>
                    </ion-slides>
                </div>

            </div>

        </div>

        <!--inter5-->

        <div ng-if="questionNumber == 5">

            <div ng-if="banners.banner5.TipliBannerType == '1'">
                <div ng-if="isIOS && questionNumber == 5" data-ng-dfp-ad="inter5Ios"></div>
                <div ng-if="!isIOS && questionNumber == 5" data-ng-dfp-ad="inter5Android"></div>
            </div>

            <div ng-if="banners.banner5.TipliBannerType == '0'">

                <div ng-if="banners.banner5.banners.length == 1">
                    <img src="{{imageHost}}/{{banners.banner5.banners[0].image}}" style="width: 100%;">
                </div>

                <div ng-if="banners.banner5.banners.length > 1" style="width: 100%; height: 100%;">
                    <ion-slides options="options" slider="data.slider">
                        <ion-slide-page ng-repeat="banner in banners.banner5.banners">
                            <div><img src="{{imageHost}}/{{banner.image}}"></div>
                        </ion-slide-page>
                    </ion-slides>
                </div>

            </div>

        </div>

    </ion-footer-bar>
</ion-view>
