<ion-view hide-nav-bar="true">

    <ion-content class="scrollLightColor hasBannerFooter rtl">

        <img src="img/backgrounds/header.png" style="height: 30vh; width: 100%;">

        <div class="sideMenuHome">
            <img src="img/new/home_icon.png" width="40" ui-sref="app.home">
            <div class="sideMenuHomeText">עמוד<br>הבית</div>
        </div>

        <div class="scrollCenterButton"><img src="img/new/treasure.png" width="70"></div>

        <div class="scrollContent textCenter pos-rel">

            <img src="img/QA/prize2.png" ng-if="userData.gift == '0'" style="width: 100%;">
            <img src="img/QA/prize1.png" ng-if="userData.gift == '1'" style="width: 100%;">

            <div class="padding-top">
                <img src="img/new/change.png" style="width: 70%;" ui-sref="app.personal">
            </div>

            <div class="padding-top">
                <img src="img/new/back4.png" style="width: 70%;" ui-sref="app.home">
            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="bannerFooter rtl">

        <!--28 lessons-->

        <div ng-if="userData.gift == '0'">

            <div ng-if="banners.banner_28.TipliBannerType == '1'">
                <div ng-if="isIOS && userData.gift == '0'" data-ng-dfp-ad="28lessonsIos"></div>
                <div ng-if="!isIOS && userData.gift == '0'" data-ng-dfp-ad="28lessonsAndroid"></div>
            </div>

            <div ng-if="banners.banner_28.TipliBannerType == '0'">

                <div ng-if="banners.banner_28.banners.length == 1">
                    <img src="{{imageHost}}/{{banners.banner_28.banners[0].image}}" style="width: 100%;">
                </div>

                <div ng-if="banners.banner_28.banners.length > 1" style="width: 100%; height: 100%;">
                    <ion-slides options="options" slider="data.slider">
                        <ion-slide-page ng-repeat="banner in banners.banner_28.banners">
                            <div><img src="{{imageHost}}/{{banner.image}}"></div>
                        </ion-slide-page>
                    </ion-slides>
                </div>

            </div>

        </div>

        <!--Weekend-->

        <div ng-if="userData.gift == '1'">

            <div ng-if="banners.banner_weekend.TipliBannerType == '1'">
                <div ng-if="isIOS && userData.gift == '1'" data-ng-dfp-ad="weekendIos"></div>
                <div ng-if="!isIOS && userData.gift == '1'" data-ng-dfp-ad="weekendAndroid"></div>
            </div>

            <div ng-if="banners.banner_weekend.TipliBannerType == '0'">

                <div ng-if="banners.banner_weekend.banners.length == 1">
                    <img src="{{imageHost}}/{{banners.banner_weekend.banners[0].image}}" style="width: 100%;">
                </div>

                <div ng-if="banners.banner_weekend.banners.length > 1" style="width: 100%; height: 100%;">
                    <ion-slides options="options" slider="data.slider">
                        <ion-slide-page ng-repeat="banner in banners.banner_weekend.banners">
                            <div><img src="{{imageHost}}/{{banner.image}}"></div>
                        </ion-slide-page>
                    </ion-slides>
                </div>

            </div>

        </div>

    </ion-footer-bar>
</ion-view>