<ion-view style="background-color: transparent;">

    <div class="addedFavMainDiv">

        <img src="img/old/added_fav_popup.png" style="width: 100%;" ng-click="hideAddedFavPopup()">

    </div>

</ion-view>
