<ion-view style="background-color: transparent;" ng-click="continuePopup.close()">

    <div class="pos-rel">

        <img src="img/popups/continue.png" style="width: 80%;">

        <div>
            <img src="img/new/yes_continue.png" style="width: 50%;" ng-click="goToDay(firstNotAnswered.date, firstNotAnswered.session)">
        </div>

        <div>
            <img src="img/new/no_continue.png" style="width: 50%;" ng-click="continuePopup.close()">
        </div>

    </div>

</ion-view>
