<ion-view style="background-color: transparent;" ng-click="beforePopup.close()">

    <div class="pos-rel">

        <img src="img/popups/popup_before.png" style="width: 90%;">

        <div class="beforePopupButton" ng-click="goToDayAfterPopup()">
            <img src="img/new/play.png" style="width: 90%;">
        </div>

    </div>

</ion-view>
