<ion-view hide-nav-bar="true">

    <ion-content class="scrollLightColor rtl">

        <img src="img/backgrounds/header.png" style="height: 30vh; width: 100%;">

        <div class="header">תוצאות</div>

        <div class="centerButton"><img src="img/QA/result.png" width="70"></div>

        <div class="scrollContent textCenter pos-rel">

            <div class="resultsCount">

                <div class="row100">
                    <div class="resultsBig">
                        <div>תשובות נכונות</div>
                        <div>{{rightAnswers}}</div>
                    </div>
                    <div class="resultsSmall">
                        <img src="img/QA/face.png" ng-if="rightAnswers < 5">
                        <img src="img/QA/face5.png" ng-if="rightAnswers == 5">
                    </div>
                    <div class="resultsLast">
                        <div><img src="img/QA/share.png" ng-click="shareFB()" style="height: 6vh;"></div>
                        <div><img src="img/QA/invite.png" ng-click="share()" style="height: 6vh;"></div>
                    </div>
                </div>

            </div>

            <div class="resultsText" ng-if="rightAnswers < 5">יופי, צברת עוד {{newPoints | number : 2}} נקודות לפרס חודשי</div>
            <div class="resultsText" ng-if="rightAnswers == 5">כל הכבוד, צברת עוד {{newPoints | number : 2}} נקודות לפרס חודשי</div>

            <div class="squareBanner">

                <div ng-if="banners.cube_results.TipliBannerType == '1'">
                    <div ng-if="isIOS && banners.cube_results.TipliBannerType == '1'" data-ng-dfp-ad="resultsCubeIos"></div>
                    <div ng-if="!isIOS && banners.cube_results.TipliBannerType == '1'" data-ng-dfp-ad="resultsCubeAndroid"></div>
                </div>

                <div ng-if="banners.cube_results.TipliBannerType == '0'">

                    <div ng-if="banners.cube_results.banners.length == 1">
                        <img src="{{imageHost}}/{{banners.cube_results.banners[0].image}}" style="width: 100%;">
                    </div>

                    <div ng-if="banners.cube_results.banners.length > 1" style="width: 100%; height: 100%;">
                        <ion-slides options="options" slider="data.slider">
                            <ion-slide-page ng-repeat="banner in banners.cube_results.banners">
                                <div><img src="{{imageHost}}/{{banner.image}}"></div>
                            </ion-slide-page>
                        </ion-slides>
                    </div>

                </div>

            </div>

            <img src="img/QA/back_home.png" style="width: 70%;" ui-sref="app.home">

        </div>

    </ion-content>
</ion-view>