<ion-view hide-nav-bar="true">
    <ion-content class="scrollLightColor">

        <img src="img/backgrounds/header.png" style="height: 30vh; width: 100%;">

        <div class="header">תקנון</div>

        <div class="scrollContent pos-rel">

            <div class="div90 terms rtl" style="padding-top: 2vh;">

                <div class="bold text-center">תקנון למשתמש באפליקצית LI-TIP ו/או</div>
                <div class="bold text-center">באתר www.tip-li.co.il</div>
                <div class="underlined">הערות מקדימות</div>
                <div class="">א. התקנון מנוסח בלשון זכר אך מתייחס באופן שווה לשני המינים, ויש לראותו כאילו נכתב בשינויים המתחייבים.</div>
                <div class="">ב. התקנון מנוסח ביחס לאפליקצית LI-TIP אך מתייחס באופן זהה גם לאתר www.tip-li.co.il, ויש לראותו כאילו נכתב בשינויים המתחייבים.</div>
                <div class="bold">משתמש יקר,</div>
                <div class="">ברוכים הבאים <span class="bold">לאפליקצית LI-TIP</span> (טיפ-לי) (להלן: <span class="bold">"האפליקציה"</span>) של חברת "מועדון נהג חדש בע"מ" (להלן: <span class="bold">"החברה"</span>).</div>
                <div class="">החברה מנגישה לך מידע על נהיגה נכונה ובטוחה, ואתה מסכים לוותר מראש על כל תלונה, טענה, או תביעה מכל סוג שהוא ומכל סיבה שהיא כנגד החברה ו/או עובדיה ו/או יועציה ו/או קבלני המשנה שלה ו/או כל אחד אחר הקשור לחברה בהפעלת האפליקציה, או מי מטעמם.</div>
                <div class="">1. תקנון זה מפרט את תנאי שימושך באפליקציה ומהווה הסכם בינך (להלן: <span class="bold">"המשתמש"</span>) לבין החברה בכל הנוגע לשימוש באפליקציה.</div>
                <div class="">2. האפליקציה הינה לשימושך האישי והפרטי בלבד, וזאת בתנאי שהינך מסכים לקבל את כל התנאים בתקנון זה ללא כל שינוי. אם אינך מסכים לאחד או יותר מתנאי השימוש הרשומים בתקנון זה, אין אתה רשאי לעשות שימוש כשלהו באפליקציה לכל מטרה שהיא, והינך מתבקש למחוק את האפליקציה מיידית מהמכשיר שלך.</div>
                <div class="">3. בשימושך באפליקציה הינך מצהיר שהינך מוותר על כל טענה ו/או תביעה ו/או דרישה כנגד החברה ו/או עובדיה ו/או יועציה ו/או קבלני המשנה שלה ו/או כל אחד אחר הקשור לחברה בהפעלת האפליקציה (להלן: <span class="bold">"המפעילה"</span>) או מי מטעמם, ביחד ולחוד, בכל הנוגע לשימוש באפליקציה ובמידע הקיים באפליקציה או שיהיה קיים בה בעתיד; לתכונות, ליכולות, ולמגבלות של האפליקציה; לכל נזק אפשרי שייגרם לך מהסתמכות על האפליקציה או המידע הקיים באפליקציה; ולהתאמת האפליקציה לצרכיך.</div>
                <div class="">4. הינך נושא באחריות מלאה ובלעדית בכל הנוגע לשימושך באפליקציה ובתוצאות שימוש זה.</div>
                <div class="">5. המפעילה עושה כמיטב יכולתה כדי להבטיח שכל המידע באפליקציה אכן נכון, אמין, מדויק, ומעודכן.  למרות האמור, המפעילה /או מי מטעמה המעורבים בהכנת המידע המופיע באפליקציה אינם אחראים, ולא יהיו מוחזקים על ידך כאחראים, לאי-עדכון ו/או לטעות ו/או לחיסרון או לחוסר-זמינות של כל פריט מידע באפליקציה, וכן לכל הסתמכות של המשתמש (במישרין ו/או בעקיפין) על מידע המופיע באפליקציה, כולל מידע לא-מעודכן ו/או שגוי, או שחסר ואינו מופיע באפליקציה.</div>
                <div class="">6. המידע באפליקציה אינו מהווה תחליף להתייעצות עם אנשי מקצוע מתאימים בתחום. הינך מסכים שלא להסתמך על המידע באפליקציה לצורך החלטות משפטיות, אישיות ו/או כלכליות ו/או אחרות ללא היוועצות בבעלי מקצוע מתאימים.</div>
                <div class="">7. הינך מסכים שאין המפעילה אחראית, ושלא תטען שהמפעילה אחראית, לכל נזק, כולל נזק ישיר ו/או עקיף ו/או מקרי ו/או מיוחד ו/או תוצאתי ו/או ענישתי, שייגרם או עלול להיגרם לך עקב השימוש באפליקציה ו/או במידע מכל סוג שהוא המופיע באפליקציה ו/או החסר בה.</div>
                <div class="">8. המפעילה שומרת לעצמה את הזכות לשנות את האפליקציה לפי שיקול דעתה בכל עת, כולל (אך לא מוגבל ל-) שינויים בתכני האפליקציה, במשחק "הנהג שיודע" או כל משחק אחר וכן כל פרס נלווה, בפונקציות, במבנה, בתצוגה, ביכולת הגלישה, בגישה למידע, בנגישות, בזמינות, בקבלת השירותים העיקריים והנלווים בה, וכן כל שינוי אחר, וזאת ללא מסירת הודעה מראש למשתמש או לכל אדם אחר.  הינך מסכים ומאשר שאין לך ולא תהיה לך כל טענה כנגד החברה בגין זאת.</div>
                <div class="">9. המפעילה רשאית לסגור את האפליקציה, למוכרה למפעילים אחרים, לשנות ייעוד, להפוך חלקים מהאפליקציה או את כולו לנגישים למנויים בלבד, להתנות גישה בתשלום לחלקים ממנו או לכולו ו/או להפסיק את התמיכה האנושית ו/או האוטומטית באפליקציה, והנך מאשר כי אין לך ולא תהיה לך כל טענה כלפי המפעילה בגין זאת.</div>
                <div class="">10. ייתכנו הפרעות, הפסקות, טעויות ותקלות בשירותי האפליקציה כתוצאה מכשל חומרה ו/או תוכנה במערכת האתר, קווי מערכות התקשורת וכשלים אחרים כלשהם.  החברה תעשה כמיטב יכולתה למזער ולתקן כשלים אלו, באם וכאשר יקרו, אך אינה מתחייבת לפתרון מיידי או אחר של הכשלים.</div>
                <div class="">11. הפרעה בפעילותה השוטפת והתקינה של האפליקציה אגב ביצוע שינויים ו/או תיקונים ו/או שיפורים לא תהווה עילה לכל טענה ו/או דרישה ו/או תביעה מצידך כנגד המפעילה.</div>
                <div class="">12. המפעילה עושה כמיטב יכולתה להגן על האפליקציה, על המידע שבה, ועל המידע האישי שהינך מוסר לה, ישירות ו/או דרך האפליקציה ו/או כחלק מהשימוש באפליקציה, מפני תקלות ו/או פריצות ו/או חדירות למערכות מיחשוב, וזאת באמצעות יישומם של אמצעי הגנה זמינים וסבירים ושימוש בספקים הנוקטים אמצעים דומים, אך אינה יכולה להבטיח את חסינותה ההרמטית של האפליקציה ושל מערכותיה מפני פריצות עוינות אשר עלולות לגרום לדליפת מידע אישי ו/או להפריע לתקינות האפליקציה ולשבש את פעילותו.  אין החברה אחראית, ולא תישא באחריות לכל נזק, ישיר או עקיף, כלכלי ו/או אישי ו/או אחר, אשר ייגרם כתוצאה מתקלה ו/או אי-זמינות האפליקציה ו/או מפריצה עוינת לאפליקציה ו/או למערכות מיחשוב האפליקציה.</div>
                <div class="">13. המפעילה אינה מפקחת באופן פרטני על המידע אשר עלול להיות מועלה לאפליקציה על ידי משתמשים אחרים ו/או קהל משתמשים ו/או צדדים שלישיים אחרים המפרסמים באפליקציה, המעלים מידע זה על אחריותם הבלעדית בלבד, ואינה אחראית לתוכן מידע זה.  יחד עם זאת, החברה שומרת לעצמה את הזכות לעיין בכל פריט מידע המועלה לאפליקציה או דרך האפליקציה, ולהסיר כל פריט מידע שלפי שיקול דעתה הבלעדית אינו מתאים לאפליקציה מכל סיבה שהיא, וזאת בכל עת וללא מתן התראה מוקדמת כלשהיא לגורם שהעלה את המידע.</div>
                <div class="">14. המפעילה אינה אחראית לכל נזק, ישיר או עקיף, שייגרם מהשימוש באפליקציה ו/או בכל מידע ו/או תוכן מסחרי המוצג באפליקציה מטעם המפרסמים בו ו/או המידע המוצג בכל אתר אינטרנט חיצוני אשר קיים אליו קישור (hyperlink)  מהאפליקציה ו/או כל אתר אינטרנט חיצוני אשר קיים בו קישור אל האפליקציה, לרבות הפרת חוק או הפרת זכויות יוצרים המבוצעת או הנגרמת באחד מהאתרים האלו ו/או על ידי ספק המפרסם באפליקציה זו.</div>
                <div class="">15. הביקור באתר של המפרסמים באפליקציה ו/או רכישה של מוצר או שירות על ידך מאחד המפרסמים באפליקציה הינם על אחריותך בלבד. החברה אינה נושאת באחריות לכל עיסקה אשר תתבצע מול כל צד שלישי תוך שימוש או בהמשך לשימוש באפליקציה זו, וכן אינה נושאת באחריות לה ו/או לתוצאותיה, לרבות (אך מבלי לגרוע מכלליות האמור) אחריות לטיב מוצרים ושירותים, אף אם יש לטעון שהחברה שימשה כמתווכת בעיסקה זו.</div>
                <div class="">16. למעט תוכן שברשות הציבור ו/או השייך לגוף שלישי, כל התכנים של האפליקציה, לרבות (אך מבלי לגרוע מכלליות האמור) התוכנה של האפליקציה, עיצוב האפליקציה (לרבות סימנים מסחריים), התוכן והמידע שנמצא באפליקציה, הקונספט הרעיוני של האפליקציה וחלקים ממנה, משחקים, יישומים וכל מידע ו/או חומר אחר הכלולים באפליקציה מהווים קניין רוחני של החברה והינם נהנים מכל ההגנות על זכויות יוצרים הקיימים בחוק.  אינך רשאי לצלמם, להעתיקם, למוסרם לצד שלישי, להציגם בפומבי, להשכירם, לשדרם, לשכפלם, להפיצם ו/או לנצלם באופן מסחרי כלשהו, בכל דרך שהיא, ללא קבלת אישור בכתב ומראש מאת החברה.</div>
                <div class="">17. הינך מסכים שהמידע והיישומים הקיימים באפליקציה נועדו אך ורק לשימוש אישי ולא לשימוש מסחרי ו/או אחר; שתוריד מידע מהאתר, לצורך שימושך האישי בלבד, רק במקום בו האפליקציה התירה זאת במפורש ובכתב, ובמקום זה בלבד; ושהורדת כל מידע מהאפליקציה או ביצוע פעולה חוקית אחרת באפליקציה אינם מקנים לך כל זכות קניינית על המידע, כולו או חלקו.</div>
                <div class="">18. הינך מתחייב שלא לעשות שימוש לרעה באפליקציה או במידע המוצג בה, לרבות מטרה המנוגדת לחוק ו/או לתנאי השימוש הרשומים בתקנון זה, ולרבות (מבלי לגרוע מכלליות האמור) פירסום קישור (hyperlink) מאפליקציה זו ו/או לקשר (hyperlink) לאפליקציה זו לכל ו/או מכל אתר אשר מכיל תוכן פורנוגרפי ו/או כזה המעודד אפליה, גזענות ו/או המציג תוכן המנוגד לחוק, המעודד הפרת חוק ו/או התנהגות המהווה עבירה פלילית ו/או עוולה אזרחית על פי חוק.</div>
                <div class="">19. הינך מתחייב שלא לפגוע ו/או להפר את זכויות מפעילת האפליקציה ו/או זכויות כל צד שלישי על פי חוק; לאיים, לנצל לרעה, להשמיץ ו/או להפיץ לשון הרע, לפגוע בפרטיות ו/או ליצור אי נעימות כלשהי למפעילת האפליקציה, משתמשי האפליקציה, לספקי האפליקציה ו/או לכל צד שלישי אחר; או להרתיע, להגביל או למנוע את שימושו החופשי של כל אדם אחר באפליקציה.</div>
                <div class="">20. הינך מתחייב שלא לפרסם באפליקציה ו/או לשדל בו לרכוש מוצרים ו/או שירותים, אלא אם קיים הסכם פרסום חתום בינך לבין מפעילת האפליקציה; שלא להציג כל תוכן מהאפליקציה בעזרת שימוש בטכנולוגיית מסגור (framing) ו/או כל טכנולוגיה אחרת בעזרתה מציגים למשתמש תוכן מאפליקציה זה המשולב בתוכן אתר אחר; ושלא להעלות (upload) מהמחשב שלך ו/או כל מחשב אחר חומר אשר מוגן באמצעות זכויות יוצרים, סימן מסחרי ו/או כל זכות קניינית אחרת, אלא אם אתה הוא בעלי זכות הקניין או אם בעל זכות הקניין נתן את הסכמתו לכך מפורשות.</div>
                <div class="">21. מפעילת האפליקציה רשאית לעשות שימוש בפרטים האישיים אשר הזנת באפליקציה לצורך יצירת קשר איתך (טלפונית ו/או באמצעות דואר אלקטרוני), לצורך העברת פרטיך למספר ספקים שתביע עניין במוצריהם,  ולצורך שיפור שירותי האפליקציה.</div>
                <div class="">22.  הינך מסכים שהמפעילה תאסוף מידע אודות הרגלי השימוש שלך באפליקציה, תעשה ניתוחים סטטיסטיים של מידע זו, ותפיץ סיכומים – ללא כל סימני זיהוי אישיים – לארגונים שהתעניינו בהם, כולל בתשלום.  כמו כן, הינך מסכים שהמפעילה תמסור כל מידע הנדרש על פי חוק לרשויות החוק והמשפט.</div>
                <div class="">23. תקנון משחק "הנהג שיודע", המובא במלואו בסעיף זה, הוא חלק אינטגראלי של תקנון זה.</div>
                <div class="bold underlined">תקנון משחק "הנהג שיודע" באפליקצית טיפ-לי</div>
                <div class="bold">חברת מועדון נהג חדש בע"מ (להלן: "החברה") מזמינה אותך להשתתף חינם במשחק "הנהג שיודע", המאפשרת לך להפגין ולרכוש ידע בנושא נהיגה נכונה ובטוחה ולזכות בפרסים.  הינך מסכים מראש, וכתנאי יסוד להשתתפות במשחק, לוותר על כל תלונה, טענה, או תביעה מכל סוג שהוא ומכל סיבה שהיא כנגד החברה ו/או עובדיה ו/או יועציה ו/או קבלני המשנה שלה ו/או כל אחד אחר הקשור לחברה בהפעלת האפליקציה, או מי מטעמם.</div>
                <div class="termsPadding">1. ייעוד המשחק הוא להפגין ידע בנושא נהיגה נכונה ובטוחה, ולהתמיד בכך. אין מרכיב כלשהו של 'מזל' במשחק הזה.</div>
                <div class="termsPadding">2. המשחק הינו על בסיס חודשי, ופתוח לכל תושב ישראל שגילם בין 16 עד 24 בחודש הרלוונטי, ושאין להם קרבת משפחה לחברה או לכל מי שקשור להפעלת האפליקציה .</div>
                <div class="termsPadding">3. בכל יום (למעט שבתות וחגי ישראל) יקבל כל מי שנרשם באפליקצית טיפ-לי (להלן: <span class="bold">"המשתתף"</span>) שני מקבצים של חמש שאלות כל אחד. על המשתתף לבחור את התשובה הנכונה מבין 4 התשובות המוצעות לכל שאלה, בזמן הקצר ביותר.</div>
                <div class="termsPadding">4.  לכל שאלה במקבץ יש מספר שונה של נקודות מקסימום.  מהרגע שמופיעה כל שאלה ואפשרויותיה ועד שהמשתתף שולח את בחירתו, יורדת ערכה של תשובה נכונה. רק תשובה נכונה תזכה בנקודות.</div>
                <div class="termsPadding">5. במקרה שמשתתף אינו עונה על מקבצ(י) השאלות ביום פרסומן, תינתן לו אפשרות לענות עליהן בכל יום אחר במרוצת החודש.  לעומת זאת, משתתף שלא עונה ברצף על כל חמשת השאלות במקבץ מכל סיבה שהיא, בין אם ברצון ובין אם באונס ובין אם מפאת כשל טכני כלשהו, לא יוכל לחזור לאותו מקבץ.</div>
                <div class="termsPadding">6. החברה יכולה לתת נקודות בונוס בגין התמדה (משתתף שיענה על שני המקבצים המגיעים כל יום ביום הגעתם, ברצף של X ימים) וכן בגין ארועים מיוחדים (יום הולדת וכדומה), בתנאי שהיא תתן מספר נקודות זהה לכל המשתתפים העומדים בדרישות באותו חודש.</div>
                <div class="termsPadding">7.  כל חודש שהיא מפעילה את המשחק, החברה תעניק פרס אחד ויחיד, בשווי של עד 3000 ₪ (שלושת אלפים שקלים חדשים), לפי בחירתו של המשתתף הכשיר שזכה במספר הגדול ביותר של נקודות במהלך החודש. זכייה בפרס מותנית בהמצאת העתק תעודת זהות לחברה המוכיחה כשירות מבחינת גיל; בהסכמה שהחברה תפרסם את שמו, שם המשפחה, ויישובו של הזוכה; ובבחירת הפרס ומסירת כתובת למשלוח פיזי.</div>
                <div class="termsPadding">8. מובהר בזה שלנקודות אין ערך כספי כלשהוא.  מספר הנקודות שמשתתף צובר משמש רק כאינדיקציה לגבי כמות התשובות הנכונות שענה ובונוסים שהוא קיבל לעומת משתתפים האחרים.  מספר הנקודות הרשום במחשבי החברה הוא הקובע ולא ניתן לערער עליו.</div>
                <div class="termsPadding">9. במקרה שבסוף חודש נתון יש ליותר ממשתתף אחד את אותו מספר הנקודות הגדול ביותר, רשאית החברה לפי שיקול דעתה לקבוע איך להעניק את הפרס, ובין היתר האם לחלק את הפרס בין כל הזוכים הכשירים, או לערוך סבב שאלות מיוחד כדי לקבוע זוכה יחיד, או להשתמש בכל דרך אחרת כדי לקבוע מי יזכה או יזכו בפרס.</div>
                <div class="termsPadding">10. לחברה נתונה הזכות להחליט באופן בלעדי, לפי שיקול דעתה הבלעדית, לגבי כל שאלה הקשורה למשחק.</div>
                <div class="termsPadding">11. החברה רשאית להפסיק את המשחק בכל רגע נתון; לשנות את מתכונת המשחק ו/או את מספר הנקודות, ערך הפרסים, מספר וגובה הבונוסים, וכדומה; ולשנות את חוקי ו/או כללי המשחק, כל זה ללא התייעצות או מתן התראה מוקדמת לכל גורם שהוא.</div>
                <div class="termsPadding">12. ההתחייבות היחידה של החברה היא שלכל חודש שהחברה החליטה לנהל בו את המשחק, היא תכריז מראש על הפרס(ים) שנקבע(ו) לחודש, ותמשיך לנהל את המשחק עד תום החודש, כולל חלוקת הפרס(ים).</div>
                <div class="">24. על השימוש באפליקציה יחולו דיני מדינת ישראל בלבד, ומקום השיפוט הבלעדי לכל עניין הנוגע לאפליקציה ו/או הנובע מתקנון זה יהיה בית המשפט בירושלים שיש לו סמכות עניינית בנושא.</div>

            </div>

        </div>

    </ion-content>
</ion-view>
