
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans');*/
/*@import url('https://fonts.googleapis.com/css?family=Alef');*/

@font-face {
    font-family: "OPENSANS";
    src: url(../fonts/OpenSansHebrew-Regular.ttf) format("truetype");
}

.pos-rel {
    position: relative;
}

.row100 {
    width:100%;
    overflow:hidden;
}

.bold {
    font-weight: bold;
}

.underlined {
    text-decoration: underline;
}

.lightBackground {
    background-image: url('../img/backgrounds/header.png');
    background-position: center top;
    background-size: 100% 30%;
    background-repeat: no-repeat;"
}

.darkBackground {
    background-image: url('../img/backgrounds/small_back.png');
    background-position: center top;
    background-size: 100% 30%;
    background-repeat: no-repeat;"
}

.smallBackground {
    background-image: url('../img/backgrounds/background_small.jpg');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;"
    position: relative;
    height: calc(100vh - 50px);
}

.content {
    position: relative;
    height: 100vh;
}

.lightElements {
    position: absolute;
    margin-top: -1px;
    top: 30%;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 30%);
    text-align: center;
    background-color: #E6E4E5;
}

.darkElements {
    position: absolute;
    margin-top: -1vh;
    top: 30vh;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 29vh);
    text-align: center;
    background-color: #575757;
}

.centerButton {
    position: absolute;
    top: 15vh;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.centerBigButton {
    position: absolute;
    top: 10vh;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.scrollLightColor {
    color: black;
    background-color: #E6E4E5;
}

.scrollDarkColor {
    background-color: #737172;
    color: black;
}

.scrollDarkerColor {
    background-color: #565656;
    color: black;
}

.scrollCenterButton {
    position: absolute;
    top: 15vh;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.scrollContent {
    width: 100%;
    top: -5vh;
    padding: 10px 5%;
}

.bannerFooter {
    height: 50px;
    padding: 0;
    background-color: black;
    margin: 0;
    color: white;
    text-align: center;
    width: 100%;
}

.bannerFooter div {
    width: 320px;
    margin: 0 auto;
}

.hasBannerFooter {
    bottom: 50px;
}

.header {
    position: absolute;
    top: 9vh;
    width: 100%;
    text-align: center;
    font-size: 18px;
}


.div80 {
    width: 80%;
    margin: 0 auto;
}

.div90 {
    width: 90%;
    margin: 0 auto;
}

.yellowRow {
    width: 100%;
    height: 10px;
    background-color: #f2d037;
}

.mh80 {
	min-height:80px;
    padding: 10px;
}

.body {
	font-family: 'Alef', sans-serif;
}

.bar {
	background-image: none !important;
	padding:0 !important;
	margin:0 !important;
}

.rtl {
    direction: rtl;
}

.textCenter {
    text-align: center;
}

.pointsContent {
    background-color: #ffd200;
}

.pointsHeader {
    background-color: white;
}

.pointsHeaderTitle {
    background-color: white;
    width: 100%;
    text-align: center;
    margin: 0 0;
    padding: 5px;
    font-size: 18px;
}

.customInput {
    width: 100%;
    margin: 10px 0;
    padding-right: 5px;
}

.customInput input {
    width: 100%;
    text-align: center;
    border: none;
    padding: 5px !important;
    border-radius: 30px;
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.74);
}

.customInput select {
    width: 100%;
    text-align: center;
    border: none;
    padding: 5px !important;
    border-radius: 30px;
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.74);
    direction: rtl;
    height: 34px;
}

.itemSelected {
    background-color:#E6E4E5 !important;
    width: 100%;
    padding: 0 5px 0 0 !important;
    border: 0 !important;
}

.itemSelectedBox {
    border: none;
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.74);
    border-radius: 30px !important;
    text-align: center;
    background-color:white !important;
    width: 100%;
    padding-top: 5px;
}

.squareBanner {
    width: 300px;
    height: 250px;
    margin: 5px auto;
    background-color: black;
}

/*Register*/

.registerButton{
    width: 50%;
    float: right;
    padding-top: 10px;
    line-height: 30px;
    font-size: 15px;
    padding-right: 10px;
}

.registerSmallButton{
    width: 25%;
    float: right;
    padding-top: 10px;
    line-height: 30px;
    font-size: 15px;
    padding-right: 10px;

}

.registerCircle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.74);
}

.registerCheckbox {
    width: 10%;
    float: right;
    margin: 10px 0;
    text-align: center;
}

.registerCheckbox div {
    width: 30px;
    height: 30px;
    background-color: #C2C3BE;
}

.registerLabel {
    width: 90%;
    float: right;
    margin: 10px 0;
    padding-right: 10px;
    line-height: 30px;
    text-align: right;
}

.registerRightButton {
    width: 80%;
    float: right;
    text-align: center;
}

.registerLeftButton {
    width: 20%;
    float: right;
    text-align: center;
}

/*End of register*/

/*Home*/
.homeMain {
    bottom: 75px;
    background-image: url('../img/backgrounds/background_day.png');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;"
}

.homeMainNight {
    bottom: 75px;
    background-image: url('../img/backgrounds/background_night.jpg');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;"
}

.homeContent {
    position: relative;
    height: calc(100vh - 75px);
}

.homeFooter {
    width: 100%;
    padding: 0;
    margin: 0;
    height:75px;
    background-color: black;
}

.homeFooterButton {
    width: 20%;
    float: right;
    padding: 5px 0;
    text-align: center;
}

.homeElements {
    position: absolute;
    top: 38vh;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 75px - 40vh);
}

.homeBack {
    width: 280px;
    height: 195px;
    margin: 0 auto;
    position: relative;
}

.img0 {position: absolute; bottom: -42px; left: -5px;}
.img1 {position: absolute; bottom: -19px; left: -15px;}
.img2 {position: absolute; bottom: 4px; left: -23px;}
.img3 {position: absolute; bottom: 29px; left: -26px;}
.img4 {position: absolute; bottom: 54px; left: -25px;}
.img5 {position: absolute; bottom: 79px; left: -18px;}
.img6 {position: absolute; bottom: 102px; left: -8px;}
.present1 {position: absolute; top: 40px; left: 6px;}
.img7 {position: absolute; top: 40px; left: 6px;}
.img8 {position: absolute; top: 21px; left: 22px;}
.img9 {position: absolute; top: 5px; left: 40px;}
.img10 {position: absolute; top: -7px; left: 61px;}
.img11 {position: absolute; top: -17px; left: 84px;}
.img12 {position: absolute; top: -22px; left: 108px;}
.img13 {position: absolute; top: -22px; right: 124px;}
.img14 {position: absolute; top: -20px; right: 100px;}
.img15 {position: absolute; top: -13px; right: 76px;}
.present2 {position: absolute; top: -2px; right: 54px;}
.img16 {position: absolute; top: -2px; right: 54px;}
.img17 {position: absolute; top: 12px; right: 34px;}
.img18 {position: absolute; bottom: 137px; right: 16px;}
.img19 {position: absolute; bottom: 117px; right: 2px;}
.img20 {position: absolute; bottom: 94px; right: -9px;}
.img21 {position: absolute; bottom: 71px; right: -18px;}
.img22 {position: absolute; bottom: 46px; right: -21px;}
.img23 {position: absolute; bottom: 22px; right: -20px;}
.img24 {position: absolute; bottom: -3px; right: -16px;}
.img25 {position: absolute; bottom: -27px; right: -9px;}

.points{
    position: absolute;
    top: 30px;
    left: 80px;
    right: 80px;
    bottom: 110px;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 1.5vh;
    /*font-size: 12px;*/
    background-image: url('../img/home/black.png');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;"
}

.points span:nth-of-type(1){
    font-size: 2.7vh;
    font-weight: bold;
    letter-spacing: 5px;
}

.time {
    position: absolute;
    top: 90px;
    left: 40px;
    right: 40px;
    text-align: center;
    color: white;
    font-size: 2vh;
}

.info {position: absolute; bottom: 40px; left: 40px;}

.arrow {position: absolute; bottom: -75px; left: 4px;}
.treasure {position: absolute; bottom: -70px; right: -1px; z-index: 100}

.button1 {position: absolute; bottom: -60px; left: 35px;}
.button2 {position: absolute; bottom: -62px; left: 92px;}
.button3 {position: absolute; bottom: -60px; left: 185px;}

/*End of Home*/

/*Inter*/
.interImage1 {
    background-image: url('../img/QA/speed11.png');
    background-position: center center;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    height: calc(100vh - 300px - 33vh);
}

.interImage2 {
    background-image: url('../img/QA/speed22.png');
    background-position: center center;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    height: calc(100vh - 300px - 33vh);
}

.interImage3 {
    background-image: url('../img/QA/speed33.png');
    background-position: center center;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    height: calc(100vh - 300px - 33vh);
}

.interImage4 {
    background-image: url('../img/QA/speed44.png');
    background-position: center center;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    height: calc(100vh - 300px - 33vh);
}

.interImage5 {
    background-image: url('../img/QA/speed55.png');
    background-position: center center;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    height: calc(100vh - 300px - 33vh);
}

.interAllContent {
    position: absolute;
    top: 20vh;
    width: 100%;
    text-align: center;
}

.interContent {
    position: relative;
    height: calc(100vh - 44px);
}

.interElements {
    position: absolute;
    top: 23%;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 75px - 36%);
}

.interFooter {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
}

.interTitle {
    color: white;
    font-size: 110%;
    line-height: 110%;
}

.interText {
    color: white;
    font-size: 10px;
    line-height: 100%;
}

.interButton {
    width: 70%;
    background-image: url('../img/QA/green.png');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;"
    text-align: center;
    font-size: 150%;
    padding: 7px 0;
    margin: 5px auto;
}

/*Personal*/

.personalProfile {
    position: absolute;
    top: 20vh;
    right: 10%;
}

.personalQuestions {
    position: absolute;
    top: 20vh;
    left: 10%;
}

.personalScrollContent {
    width: 100%;
    margin-top: -3vh;
    padding: 0 5%;
}

.personalTitles {
    position: absolute;
    width: 100%;
    top: 20%;
    text-align: center;
}

.personalProfileTitles {
    position: absolute;
    top: 50%;
    left: 40%;
    -moz-transform: translate(-35%, -50%);
    -ms-transform: translate(-35%, -50%);
    -webkit-transform: translate(-35%, -50%);
    -o-transform: translate(-35%, -50%);
    transform: translate(-35%, -50%);
}

.personalTitle {
    color: white;
    font-size: 150%;
}

.personalMessages {
    width: 100%;
    height: 33vh;
    direction:rtl;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
}

.personalQuestionTitle{
    float: right;
    width: 70%;
    clear: left;
    text-align: right;
    color: #0930a0;
    padding: 10px;
}

.personalQuestion {
    float: right;
    width: 100%;
    clear: left;
    text-align: right;
    padding-right: 7%;
}

.personalAnswerTitle {
    float: left;
    width: 70%;
    clear: right;
    text-align: left;
    color: #0930a0;
    padding: 10px 0;
}

.personalAnswer {
    float: left;
    width: 100%;
    clear: right;
    text-align: left;
    padding-left: 15%;
}

.personalTextarea {
    width: 100%;
    height: 15vh;
    border-radius: 0 10px 10px 0;
    padding: 5px;
}

.personalMessageDiv {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    height: 15vh;
    margin-top: 10px;
}

.personalMessageDivLeft {
    width: 30%;
    float: left;
}

.personalMessageDivRight {
    width: 70%;
    float: left;
    direction: rtl;
}

.pointTitle {
    background-color: black;
    color: white;
    height: 50px;
    padding-top: 10px;
}

.pointTitle div {
    font-size: 19px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.personalTableRow {
    width: 100%;
    overflow: hidden;
    background-color: white;
    color: black;
    padding: 5px 15px;
    font-size: 16px;
}

.personalTableLeft {
    width: 20%;
    float: left;
    text-align: left;
}

.personalTableRight {
    width: 80%;
    float: right;
    text-align: right;
}

.personalUserpicDiv {
    width: 100%;
    overflow: hidden;
    background-color: black;
    border-radius: 50px;
    padding: 5px;
}

.personalUserpicButton {
    width: 25%;
    float: left;
}

.personalUserpicImage {
    width: 45%;
    float: left;
    text-align: center;
    padding-top: 5px;
}

.personalUserSaveChange {
    width: 70%;
    float: left;
    text-align: center;
    color: white;
    margin-top: 30px;
    font-size: 18px;
}

.personalUserpicRight {
    width: 30%;
    float: right;
    margin-top: 20px;
    color: white;
}

/*End of personal*/

/*Article*/

.articleYellowRow {
    width: 100%;
    background-color: #f2d037;
    font-size: 18px;
    padding: 3px 20px 3px 0;
}

.articleTitle {
    width: 100%;
    overflow: hidden;
    background-color: #c6a502;
}

.articleTitleLeft {
    width: 50%;
    padding: 5px;
    float: left;
    border-right: 1px solid white;
}

.articleTitleLeft div {
    width: 40%;
    margin-left: 10px;
}

.articleTitleRight {
    float: right;
    width: 49%;
    padding: 10px 0;
}

.articleCategoryIcon {
    width: 30%;
    float: right;
}

.articleCategoryText {
    width: 70%;
    float: left;
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: 100;
    margin-top: 10px;
}

.articleItem {
    width: 100%;
    position: relative;
}

.articleDescription {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 20px 5px 5px;
    font-size: 14px;
    font-weight: 100;
}

.articleDescWithoutImage {
    padding: 5px 20px 5px 5px;
    font-size: 14px;
    font-weight: 100;
    background-color: white;
}

.articleHeaderRow {
    width: 100%;
    overflow: hidden;
    padding: 20px 10px;
}

.articleHeaderRight {
    width: 80%;
    float: right;
    text-align: right;
}

.articleHeaderLeft {
    width: 20%;
    float: left;
    text-align: left;
}

.articleButtons {
    width: 100%;
    background-color: #d9ce98;
    padding: 5px;
    padding-bottom: 0px;
}

/*End of article*/

/*Video popup*/
.popupVideo .popup {
    background-color: transparent;
    padding-top: 30px;
    width: 350px;
    height: 400px;
}

.popupVideo .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.videoCloseButton {
    left: 0;
    top: -5px;
    position: absolute;
}

.videoDiv {
    padding-top: 10px
}

/*End of video popup*/

/*Daily tip popup*/
.dailyTipPopup .popup {
    background-color: transparent;
    padding-top: 30px;
    width: 90%;
    height: 100%;
    text-align: center;
    direction: rtl;
    margin-top: 100px;
}

.dailyTipPopup .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.dailyTipMainDiv {
    background-color: white;
    margin-top: -40px;
    padding: 40px 10px 10px 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.dailyTipTitle {
    font-size: 20px;
    padding-bottom: 10px;
}

.dailyTipText {
    padding: 40px 10px;
}

.dailyTipButton {
    width: 90%;
    margin: 10px auto;
    background-color: #ffd200;
    padding: 10px;
    border-radius: 15px;
}

.dailyTipButtonText {
    font-size: 20px;
    font-weight: bold;
}

/*End of Daily tip*/



/*Updated info popup*/
.updatedInfoPopup .popup {
    background-color: transparent;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 100px;
}

.updatedInfoPopup .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.updatedInfoMainDiv {
    margin-top: -10px;
}
/*End of Updated info popup*/

/*Updated info popup*/
.addedFavPopup .popup {
    background-color: transparent;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 100px;
}

.addedFavPopup .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.addedFavMainDiv {
    margin-top: -10px;
}
/*End of Updated info popup*/

/*Updated info popup*/
.deletedFavPopup .popup {
    background-color: transparent;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 100px;
}

.deletedFavPopup .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.deletedFavMainDiv {
    margin-top: -10px;
}
/*End of Updated info popup*/

/* Header Page*/

.sideMenuIcon {
    width: 50px;
    left: 10px;
    top: 0;
    position: absolute;
	font-size:10px;
	text-align:center;
    background-color: #575757;
    padding: 10px 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 90;
}

.sideMenuIconText{
    color: white;
    margin-top: -5px;
}

.sideMenuHome {
    width: 50px;
    right: 10px;
    top: 0;
    position: absolute;
    font-size:10px;
    text-align:center;
    background-color: #575757;
    padding: 2px 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 90;
}

.sideMenuHomeText {
    color: white;
    line-height: 12px;
}

/* Information Page*/

.informationContent {
    width: 100%;
    height: calc(100vh - 50px - 16vh);
    margin-top: -1vh;
}

.informationRight {
    float: right;
    width: 50%;
    height: calc(100vh - 50px - 16vh);
}

.informationLeft {
    float: left;
    width: 50%;
    height: calc(100vh - 50px - 16vh);
}

.infoLeft {
    width: 100%;
    overflow: hidden;
    margin-top: -8px;
    height: 32%;
}

.infoLeft1 {
    width: 50%;
    float: left;
    height: 100%;
}

/* Discount */

.noTodayDeal {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.discountTitle {
    width: 100%;
    text-align: center;
    padding: 5px;
    direction: rtl;
    font-size: 18px;
    background-color: #ffd200;
	font-family: 'Open Sans', sans-serif;
}

.discountInfo {
    width: 100%;
    overflow: hidden;
}

.discountInfoRight {
    width: 70%;
    float: right;
	/*background-color: #99D539;*/
}

.discountInfoLeft {
    width: 30%;
    float: left;
}

.discountCodeRight {
    width: 70%;
    height: 90px;
    float: right;
    background-color: #99D539;
    padding: 30px 10px;
    font-size: 20px;
    text-align: center;
}

.discountCodeRightNew {
    width: 70%;
    height: 90px;
    float: right;
}

.discountCodeLeft {
    width: 30%;
    height: 90px;
    float: left;
}

.discountCodeLeftClicked {
    width: 30%;
    height: 90px;
    float: left;
    background-color: #fcb6c6;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}


.discountRegularPriceText {
    padding: 2px;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    margin-top: -5px;
    background-color: white;
    direction: rtl;
}

.discountNewPriceText {
    padding: 2px;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    background-color: black;
    margin-top: -2px;
    color: #ffd200;
}

.discountRegularPrice {
    padding: 8px;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    direction: rtl;
}


.discountRegularPriceThumb {
    padding: 12px 8px 8px 8px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    direction: rtl;
}

.discountRegularPriceBlock {
    position: absolute;
    width: 32px;
    margin-left: 14%;
    margin-top: 5px;
}

/* Question and Answer Page*/

.questionsBackground {
    width: 100%;
    height: 85vh;
    background-image: url('../img/backgrounds/header.png') !important;
    background-position: top center;
    background-size: 100% 30%;
    background-repeat: no-repeat;
    background-color: white;
    position: relative;
}

.questionsContent {
    position: absolute;
    top: 27vh;
    width: 100%;
    text-align: center;
}

.questionsLogo {
    width: 25%;
    float: left;
    padding-top: 50px;
}

.questionsImage {
    width: 50%;
    margin: 0 auto;
}

.questionsImage img {
    border: 5px solid black;
    border-radius: 5px;
    width: 100% !important;
}

.questionsQuestion {
    width: calc(80% + 10px);
    margin: 0 auto 5px auto;
    background-color: #ffd200;
    padding: 5px;
    border-radius: 5px;
}

.questionsVariantRight {
    width: 50%;
    float: right;
    margin: 5px 0;
}

.questionsVariantLeft {
    width: 50%;
    float: left;
    margin: 5px 0;
}

.questionsVariantRightText, .questionsVariantLeftText{
    width: 80%;
    border-radius: 5px;
    background-color: #B0B0B0;
    padding: 5px;
    min-height: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.questionsVariantEmpty {
    width: 80%;
    background-color: #E6E5E5;
    padding: 5px;
    min-height: 90px;
}

@media screen and (max-width: 320px) {
    ion-content {
        font-size: 12px;
    }
}

.questionsVariantRight div {
    margin: 0 auto 0 5px;
}

.questionsVariantLeft div {
    margin: 0 5px 0 auto;
}

.questionsVariantRightSelected, .questionsVariantLeftSelected {
    background-color: #D0D0D0;
    width: 80%;
    border-radius: 5px;
    padding: 5px;
    min-height: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.questionsFooter {
    width: 100%;
    height: 15vh;
    background-image: url('../img/new/footer.png') !important;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #E6E5E5;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
}

.questionsFooterButtonPoints {
    position: relative;
}

.questionsFooterButtonPoints div {
    position: absolute;
    color: white;
    top: 15%;
    left: 15%;
    font-size: 130%;
    font-weight: bold;
    width: 70%;
    text-align: center;
}

.questionsFooterCenterButton {
    text-align: center;
    align-self: flex-start;
    padding-top: 5px;
}

.questionsFooterText {
    font-size: 10px;
    color: white;
    line-height: 10px;
}

/*Answers*/

.answersCheckAnswer {
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 50px;
	font-weight:bold;
    width: 80%;
    margin: 5px auto;
}

.answersCheckAnswerWrong {
    padding: 5px;
    background-color: darkred;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 50px;
    font-weight:bold;
    width: 80%;
    margin: 5px auto;
}

.answersExplanation {
    background-color: #D0D0D0;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
}

.answersFooter {
    width: 100%;
    height: 15vh;
    background-image: url('../img/new/footer.png') !important;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #E6E5E5;
    overflow: hidden;
    flex-direction: row-reverse;
}

.answersFooterFirst {
    width: 20%;
    float: right;
}

.answersFooterButton {
    padding-top: 6vh;
    width: 20%;
    float: right;
    text-align: center;
}

.answersFooterCenter {
    padding-top: 3vh;
    width: 20%;
    float: right;
    color: #F4C710;
    font-size: 130%;
    font-weight: bold;
    line-height: 150%;
    text-align: center;
}

/* LogIn page* */
.loginRight {
    width: 60%;
    float: right;
    text-align: left;
    font-size: 25px;
    color: darkblue;
    line-height: 60px;
}

.loginLeft {
    width: 40%;
    float: right;
    text-align: right;
}

.loginRegister {
    background-color: #F6D400;
    border-radius: 30px;
    padding: 10px 0;
    font-size: 120%;
    line-height: 130%;
    margin-top: 20px;
}

/*Catalog*/

.catalogCategory {
    width: 33.3%;
    float: right;
    text-align: center;
    padding: 5px;
}

.catalogCategory img {
    height: 100px;
    max-height: 100px;
    width: 100%;
}

.catalogDeal {
    width: 47%;
    float: right;
    padding: 5px;
	background-color:white;
	margin:5px 4px 5px 2px;
	border-radius:10px;
	top:40px;
	position:relative;
}

.catalogDealTitle {
    width: 100%;
    overflow: hidden;
    height: 65px;
}

.catalogDealTitleLeft{
    width: 20%;
    float: left;
}

.catalogDealTitleRight {
    width: 80%;
    float: right;
    padding: 0 2px;
}

.pointsHeaderCatalog {
	background-color:black;
	color:white;
	width: 100%;
    text-align: center;
    margin: 0 0;
    font-size: 18px;
}

.ThumbDealInfo {
	width:100%;
	overflow:hidden;
}

.ThumbDealInfoRight {
	width:60%;
	float:right;
}

.ThumbDealInfoLeft {
	width:35%;
	float:left;
}

.friendPriceText {
	background-color:#93cc36;
	border-radius:3px;
}

.catalogTitleName {
    margin-top: -1vh;
	width:100%;
	overflow:hidden;
	background-color:black;
}

.catalogMenuIcon {
	float:right;
	width:15%;
}

.catalogTitle {
	width:85%;
	float:left;
	text-align:center;
	padding-left:10%;
    line-height: 35px;
}
/* item page */

.greyRow
{
	background-color:#d9d9d9;
	color:black;
	text-align:center;
	width:100%;
	padding:5px;
	margin: -5px 0 0 0;
	font-weight:bold;
	font-size:18px;
}

/* Enter Page */
.enterBackgroundIos {
    background-image: url('../img/backgrounds/slider.png') !important;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.enterBackgroundAndroid {
    background-image: url('../img/backgrounds/slider_android.png') !important;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.enterButton {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 80vh;
}

/* forgot password */

.forgotElements {
    position: absolute;
    margin-top: -1px;
    top: 30%;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 30%);
    text-align: center;
    background-color: #E6E4E5;
}

.forgotTextDiv {
    background-image: url('../img/new/keys.png') !important;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.forgotText {
    padding: 5px 0;
    font-size: 120%;
}

/*Birthday*/
.birthday {
    background-image: url('../img/backgrounds/birthday_page.png') !important;
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: white;
}

/*Daily Questions*/
.dailyQuestionsText {
    position: absolute;
    width: 80%;
    top: 30%;
    left: 50%;
    color: white;
    font-size: 140%;
    line-height: 130%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.dailyQuestionsOffer {
    position: absolute;
    width: 80%;
    top: 20%;
    left: 50%;
    color: white;
    font-size: 140%;
    line-height: 130%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.dailyQuestionsTime {
    font-size: 200%;
    font-weight: bold;
    padding-top: 20px;
}

/*Prizes popup and dailyDealPopup*/

.prizesPopup .popup {
    background-color: transparent;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 100px;
}

.prizesPopup .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.prizesPopupMain {
    margin-top: -10px;
}

.prizePopupButton {
    position: absolute;
    bottom: 25%;
    left: 10%;
}

.dailyDealImg{
    position: absolute;
    top: 30%;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.monthDriverPopupButton{
    position: absolute;
    bottom: -10%;
    left: 0;
}

.monthDriverPopupName {
    position: absolute;
    bottom: 32%;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 150%;
    font-weight: bold;
}

.beforePopupButton {
    /*position: absolute;*/
    /*bottom: -10%;*/
    /*left: 10%;*/
}


/*Results*/
.resultsCount {
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #F6D400;
    text-align: center;
    height: 15vh;
}

.resultsBig {
    width: 40%;
    float: right;
    position: relative;
    height: 15vh;
}

.resultsBig div {
    font-size: 130%;
    padding-top: 2vh;
}


.resultsBig div:last-child {
    font-size: 350%;
    padding-top: 3vh;
}

.resultsLast {
    width: 40%;
    float: right;
    height: 15vh;
    text-align: center;
    padding-top: 1vh;
}

.resultsSmall {
    width: 20%;
    float: right;
    position: relative;
    height: 15vh;
}

.resultsSmall img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.resultsText {
    padding: 10px 0;
}

/*Terms*/
.terms div {
    padding: 5px 0;
}

.termsPadding {
    margin-right: 10px;
}

/*Leaderboard*/

.leaderboardContent {
    width: 100%;
    margin-top: -9vh;
    padding: 10px 5%;
}

.leaderboardRight {
    width: 25%;
    float: right;
    padding-top: 7vh;
}

.leaderboardSquare0 {
    width: 100%;
    text-align: center;
}

.leaderboardSquare1 {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #7DC622;
    font-weight: bold;
    margin: 5px 0;
    font-size: 2vh;
    background-image: url('../img/new/back1.png');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;"
}

.leaderboardSquare2 {
    width: 100%;
    text-align: center;
    padding: 10px 3px;
    color: #7DC622;
    font-weight: bold;
    margin: 5px 0;
    font-size: 2vh;
    /*line-height: 2vh;*/
    background-image: url('../img/new/back2.png');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;"
}

.leaderboardSquare3 {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #7DC622;
    font-weight: bold;
    margin: 5px 0;
    font-size: 2vh;
    background-image: url('../img/new/back3.png');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;"
}

.leaderboardNumbers {
    color: white;
}

.leaderboardLeft {
    width: 75%;
    float: left;
    position: relative;
}


.leaderboardLines {
    position: absolute;
    top: 22%;
    left: 3%;
    bottom: 3%;
    right: 3%;
    /*border: 1px solid white;*/
    direction: rtl;
    padding: 0 5px;
}

.leaderboardLine {
    background-color: #555354;
    margin: 5px 0;
    padding: 0 5px;
    height: 4vh;
    line-height: 4vh;
    font-size: 2vh;
    color: white;
}

.leaderboardLine span:first-child {
    color: #7DC622;
    font-weight: bold;
}

.leaderboardLine span:last-child {
    text-align: left;
}

.leaderboardLineRight {
    width: 60%;
    float: left;
}

.leaderboardLineLeft {
    width: 40%;
    float: left;
    text-align: left;
}

.leaderboardFooter {
    background-color: #565656;
}

.leaderboardFooterButton {
    width: 90%;
    margin: 0 auto;
}

/*Shabbat*/
.shabbatImage {
    width: 300px;
    margin: 0 auto;
}

/*Bonus*/
.bonusImg {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5vh;
}

/*No Answer*/
.noAnswerPopupButton {
    position: absolute;
    top: 70%;
    width: 100%;
    text-align: center;
}

/*Image modal*/
.transparent {
    background: transparent !important;
}
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .5;
    }
    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0;
    }
}

/*Enter Test*/
.enterTestBackground {
    background-image: url('../img/backgrounds/enter_test.png');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;"
}

.enterTestButton {
    position: absolute;
    top: 85vh;
    left: 10%;
    width: 80%;

}

/*Test*/
.testContent {
    position: absolute;
    top: 26vh;
    width: 100%;
    text-align: center;
}

.testLogo {
    width: 25%;
    float: left;
    padding-top: 15px;
}

.testTitle {
    width: 50%;
    margin: 0 auto;
    font-size: 25px;
    line-height: 120%;
}

.testQuestion {
    width: calc(80% + 10px);
    margin: 10px auto 5px auto;
    background-color: #3FBBEF;
    padding: 5px;
    border-radius: 5px;
}

.testVariantRight {
    width: 50%;
    float: right;
    margin: 5px 0;
}

.testVariantLeft {
    width: 50%;
    float: left;
    margin: 5px 0;
}

.testVariantRightText{
    width: 80%;
    border-radius: 5px;
    padding: 5px;
    min-height: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto 0 5px;
}

.testVariantLeftText {
    width: 80%;
    border-radius: 5px;
    padding: 5px;
    min-height: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 5px 0 auto;
}

/*Test results*/
.testResultsTitle {
    font-size: 3vh;
    line-height: 4vh;
}

.testResultsCount {
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #F6D400;
    text-align: center;
    padding-top: 1.5vh;
    height: 15vh;
}

.testResultsMiddle {
    width: 50%;
    float: right;
    height: 15vh;
}

.testResultsSide {
    width: 25%;
    float: right;
    font-size: 7vh;
    height: 15vh;
    line-height: 10vh;
    font-weight: bold;
}